[2014-04-25 14:16] bambooforest opened #1 "markup screwed up in README.md"
phoible / data / README.md

fix me.

[2014-04-25 14:39] bambooforest opened #2 "SPA LanguageNames to ISO639.3 codes"
Let me know if this doesn't work for the SPA LanguageName - to - ISO639.3 mappings, @drammock

https://github.com/phoible/phoible/blob/master/data/METADATA/phoible_index.tsv

@bammbooforest  check that these codes are up-to-date (from the 1241 version of phoible) -- also merge in data from inventoryids_filenames.tsv

[2014-04-25 15:00] #1 closed, assigned to nobody

[2014-04-28 09:02] bambooforest opened #4 "Wari"
y -> j

[2014-05-06 09:43] bambooforest opened #5 "Old issue to close"
The sounds from nmn:
dʼkxʼ  : not in PDF... should be dtʼkxʼ I think?  described as
prevoicing followed by sequence of two ejectives (three-part contour
seg)
d̪ʼkxʼ  :  not in PDF... should be d̪t̪ʼkxʼ I think?  (same as above)
ɡʼkxʼ  : not in PDF...  I do see ɡkxʼ which ought to be a prevoiced
velar ejective (two-part contour segment: ɡ features + kxʼ features)
pʼkxʼ  :  this ought to be fine, sh

[2014-05-11 18:49] drammock opened #6 "features: palatal diacritic"
palatal diacritic `ʲ` currently overwrites features `+dorsal +high -low +front -back`.  There are some phonemes whose base glyphs are already palatal and yet have that diacritic, like `cçʲ` and `cʲ` which at present are featurally indistinct from their base glyph counterparts `cç` and `c`.

[2014-05-11 23:29] drammock opened #7 "features: combining plus sign below"
This diacritic currently has no features associated with it, so phonemes with and without the diacritic that are otherwise identical will be featurally indistinct.

[2014-05-14 03:10] drammock opened #8 "Glyphs: modifier turned glottal stop vs combining right tack"
According to our old diacritics spreadsheet, `ˤ` and `a̙` (without the `a`) are featurally synonymous (+RTR -ATR), but the modifier pharyngeal is for consonants and the combining tack is for vowels.  This convention is not followed in the UPSID data, where segments like `ãõ̞ˤ` occur in !Xu.  However, since the latter half of that segment already has a lower diacritic (combining down tack), addin

[2014-05-14 16:44] drammock opened #10 "Check sources: affricate place mismatch"
Languages `ahk` (Akha) and `pib` (Yine) in the UW data have affricates where the stop and fricative parts don't match in place of articulation:  `tç` and `tçʰ`

[2014-06-17 11:17] #2 closed, assigned to drammock

[2014-06-17 11:40] bambooforest opened #16 "c-cedilla"
all c-cedillas should be pre-composed. SM: double check.

[2014-06-19 11:45] bambooforest opened #17 "wrong geo-location"
http://phoible.org/languages/blk

should be further to the north (pc Mathias)

[2014-07-09 10:01] bambooforest opened #18 "SPA zoc -> zoh"
This language code [zoh] is wrong. It should be [zoc], as per WALS identification of Wonderly 1951a

http://wals.info/refdb/record/Wonderly-1951b

which would also align the SPA inventory with the UPSID inventory under the same reference.

The code change has been updated in the SPA langname codes file

https://github.com/phoible/phoible/blob/master/data/SPA/SPA_LangNamesCodes.tsv

and the aggrega

[2014-08-06 18:26] #4 closed, assigned to nobody

[2014-08-09 23:52] #18 closed, assigned to nobody

[2014-08-09 23:54] #16 closed, assigned to nobody

[2014-08-22 12:45] bambooforest opened #22 "Glyphs IDs out-of-line"
Changing things like

%tʃ%
%dʒ%

to phoible conventions would require that the glyph ids are also updated

[2014-09-09 13:03] bambooforest opened #23 "New style glyph IDs"
@drammock - for the data aggregation script, Forkel and I thought it made sense to generate unique IDs by taking the decimal number of each character in each glyph and concatenating them together, e.g.

pʼ == 112700

This would be more stable than my previous approach.

[2014-09-10 03:33] #22 closed, assigned to nobody

[2014-09-13 01:43] drammock opened #27 "semantic versioning"
I noticed on the release that it was tagged with version "v2014".  I understand this was probably motivated by Martin's preferences for CLLD releases being once a year at most.  However, phoible is still software, and as such I think it's worth considering, at least, whether we want a more fine-grained versioning scheme (personally I like [semantic versioning](http://semver.org/)).  The advantage

[2014-09-19 08:53] bambooforest opened #29 "Wrong language"
the "Kxoe" language citing Christa König and Bernd Heine. 2008. A concise dictionary of Northwestern !Xun. Ruediger Koppe. > This should be ǃXun, not Kxoe/Khwe!

@bambooforest : check the language name and code

[2014-09-20 08:37] bambooforest opened #30 "Add hoj and bhd"
Add inventories for languages Hadoti [hoj] and Bhadarwahi [bhd]:

Dwivedi, A. V. (2012). A Grammar of Hadoti. München: LINCOM EUROPA.
http://www.worldcat.org/title/grammar-of-hadoti/oclc/822017249

Dwivedi, A. V. (2013). Agrammar of Bhadarwahi. Muenchen: LINCOM Europa.
http://www.worldcat.org/title/agrammar-of-bhadarwahi/oclc/861960466

[2014-09-21 00:42] drammock opened #31 "Allophone handling"
The allophone code in `aggregate-raw-data.R` is a bit fragile, given that the different data sources encode allophone information differently.  This was discussed at some length [here](https://github.com/uzling/code/issues/3). This issue is here to remind us to revisit the allophone issue once the rest of the aggregation is stable.

[2014-09-21 01:01] drammock opened #32 "Fix GM README"
There are some remarks in there that don't seem to be true (e.g., about having merged the Africa and SE Asia data into one source file).  Fix after #28 is merged.

[2014-09-21 12:57] drammock opened #34 "SAPHON specific dialect"
the aggregation script doesn't pull `SpecificDialect` out of the SAPHON raw data.

[2014-09-21 12:58] drammock opened #35 "SAPHON questionable graphemes"
Notes have been added, but the corresponding IPA graphs haven't been updated yet.

[2014-09-22 08:11] #23 closed, assigned to drammock

[2014-09-22 08:22] drammock opened #38 "SAPHON languages missing tone information"
The SAPHON raw data has two columns at the end of the phoneme block: `tone` and `nasal harmony`.  They are boolean columns just like all the phoneme columns.  `Nasal harmony` is a phonological rule, so we don't need to include it at this stage of phoible.  But how should we handle their boolean "tone / no tone" distinction?  Is it generally true that South American languages that have tone all hav

[2014-09-22 13:08] bambooforest opened #40 "Updates / additions to Mande languages"
See Vydrin 2007, which contains phonemic inventories for South Mande languages (known at that time).

In particular, on the p. 8, there is a vocalic inventory of Dan-Gweetaa. It should be modified: the semi-closed vowels (ɩ, ʋ, ʋ̈) are not separate phonemes but allophones of e, o, ɤ respectively under extra-high tone; the semi-closed nasal vowels (given in brackets) should be also eliminated (they

[2014-09-22 13:22] bambooforest opened #41 "Language code update"
http://phoible.org/languages/daf

has been split into into Dan [dnj] and Kla-Dan [lda]

http://www-01.sil.org/iso639-3/documentation.asp?id=daf

[2014-09-22 14:47] bambooforest opened #42 "Add Mandinka"
of Guinea, source from Vydrin.

Also a good source:

http://www.deniscreissels.fr/public/Creissels-lexique_mandinka_2012.pdf

[2014-09-22 20:21] #34 closed, assigned to drammock

[2014-09-24 10:57] bambooforest opened #43 "Sebat Bet Gurage -- transcription mistakes"
http://phoible.org/languages/sgw

(probably affects all Sebat Bet Gurage inventories and possibly other Ethiopian languages)

/q/ -> kʼ
/q/ -> kʲʼ
/q/ -> kʷʼ

as per Hetzron, Robert 1977.

@drammock - we also have /kʼʲ/, but conventions say to use /kʲʼ/, etc. Is there a qualitative difference that we should capture (I'm told in Ethiopianist tradition the ejective should come before the secondary a

[2014-09-24 10:58] bambooforest opened #44 "Add Fataluku (Papuan, East Timor)"
Add inventory of Fataluku (Papuan, East Timor).

[2014-09-24 11:01] bambooforest opened #45 "Add Gumer"
Add Gumer from Völlmin's description.

Völlmin, Sascha. forthcoming. Towards a Grammar of Gumer: Phonology and Morphology of a Western Gurage variety. PhD thesis, University of Zurich.

Also to look at:

Banksira, Degif Petros. 2000. Sound mutations. The morphophonology of Chaha. (Te 11 080)

[2014-09-26 12:19] bambooforest opened #46 "Add new inventory data"
Add the newly collected sources (UZ isolates, Iranian languages, JIPA, etc.).

Review known issues and then run through Unicode IPA checker.

[2014-09-30 09:01] #35 closed, assigned to drammock

[2014-09-30 09:09] #17 closed, assigned to bambooforest

[2014-10-01 08:44] drammock opened #49 "SAPHON languages with two ISO codes"
Several SAPHON languages list two ISO codes for the same inventory:

Chorote lists `crq crt`
Bolivian Quechua lists `qul quh`
Ancash Quechua lists `qwa qws`
Huaylas-Conchucos Quechua lists `qxn qwh`

Any idea why this is, or how we should choose the "correct" one, @bambooforest ?

[2014-10-01 08:49] drammock opened #50 "trump reduction not working"
not sure why yet, but 343 of the ISO codes are showing more than one value in the `Source` column.

[2014-10-01 09:13] bambooforest opened #51 "Missing geo-coordinates"
Now, there are only 6 languages lacking geo coordinates:
- Pisamira (ID 2143)
- Yãroamë of Serra do Pacu/Ajarani (ID 2150)
- Arara do Acre (ID 1999)
- Parkateje (ID 1970)
- Günün Yajich (ID 1906)
- Dinka (ID 1398)

I should also check if the language codes are the latest or have been updated in the interim.

[2014-10-01 10:02] #50 closed, assigned to drammock

[2014-10-01 10:43] drammock opened #53 "Languages with duplicate phonemes"
There are some languages that are showing duplicate phonemes. Not sure if this is caused by the `denormRenorm` function, or if there are errors in the source data files, or some other cause.  Affects 19 languages in SAPHON, 10 languages in AA, 3 languages in RA.

[2014-10-09 10:31] bambooforest opened #55 "Add Looma data"
Add phonological inventory data from the Woi-Bhalaga dialect of Loom (Guinean)

See: 45mishchenko.pdf

[2014-10-09 12:28] drammock opened #56 "make phoible an R package?"
Something to think about for the long-term.  It is possible to release R packages that are data sets only. It would be a nice distribution model (worldwide mirrors) with a built-in versioning and upgrade mechanism.  We could also release some purpose-built functions (trump, feature reduction, etc) along with it.  Thoughts?

[2014-10-12 17:51] bambooforest opened #57 "Fix remaining 6 geo-coordinates"
Fix the remaining 6 missing geo-coordinates.

[2014-10-12 18:15] #57 closed, assigned to bambooforest

[2014-10-12 18:17] bambooforest opened #58 "Update language codes"
http://www.language-archives.org/checks/phoible.org

[2014-10-13 10:16] bambooforest opened #59 "Check diacritic consistency"
1747    Ramaswami   knn Konkani 1   64141   2856    d̤z    consonant   c-d-c   3
1318    CASL    cce Copi    1   46057   2509    d̤z̤  consonant   c-d-c-d 4

[2014-10-13 12:26] bambooforest opened #60 "Fix two languages that both have same trump order"
Both zoc and ind have two entries with the same ISO code (and the same Glottocode) and the trump value of 1.

[2014-10-14 12:14] drammock opened #61 "Nasal release vs. pre-stopped nasals"
S. Moisik points out that our feature set probably can't distinguish between a pre-stopped nasal and a stop with nasal release.  This is possibly even a within-language contrast in Wolof?  Will need to think about how to distinguish these segment types featurally.

[2015-03-03 07:36] drammock opened #64 "Duplicate languages `izi` and `xsm` in AA raw data"
AA raw data has three different lects listed under ISO code `izi`:

- Lines 2480-2517 are `LanguageName` "ẹzaa"
- Lines 3716-3755 are `LanguageName` "ikwo"
- Lines 3757-3826 are `LanguageName` "izi"

This breaks the trump selection procedure, which currenly can only handle:

- same ISO code (`LanguageCode`) but different `Source`
- same ISO code and same `Source` but different `SpecificDialect`

[2015-03-03 07:37] drammock commented on #53
Many of these errors have been resolved, but #64 blocks this.

[2015-03-03 08:28] drammock commented on #64
Similar problem with `LanguageCode` `xsm`:

- Lines 4182-4222 have `LanguageName` "kasem"
- Lines 4224-4268 have `LanguageName` "kasɩm"

[2015-03-03 08:42] drammock opened #65 "Duplicate languages `lmn` and `iru` in Ramaswami raw data"
`lmn` is named as Lamani on line 60 and Banjara on line 13.

`iru` is named as Irula on line 33 and Kasaba on line 40.

Need to determine if this is just an error of the ISO code (in which case need to correct), or if these are actually lects that are classified with the same ISO code (in which case need to figure out how to apply trump to them; easiest is probably adding parenthetical info to the

[2015-03-09 11:06] bambooforest commented on #64
The first problem is handled by "recent" changes to ISO 639-3, which retires [izi] and splits it into 4 separate codes:

http://www-01.sil.org/iso639-3/documentation.asp?id=izi

I've updated the AA data file. The second issue is that Kasem and Kasim are slightly reportedly mutually intelligible varieties of the same language, but one is spoken in Burkina and the other in Ghana. Ethnologue lists th

[2015-03-09 11:28] bambooforest commented on #65
At least the latter seems to be correct. Another option for trump ordering
might be to pull in the Glottolog codes (and canonical names) to deal with
finer-grained divisions between languages / lects, e.g. we would have Irula:

http://glottolog.org/resource/languoid/id/irul1243

and Irula Kasaba:

http://glottolog.org/resource/languoid/id/nort2701

the latter of which doesn't have an ISO code, per

[2015-03-10 09:03] drammock commented on #64
arbitrarily choosing the first one will certainly be easier to implement than trying to add an extra trump indicator somehow. Probably fine for AA since it's a static resource and we can fix the order the way we want it. Less good for handling resources like SAPHON where we don't have control over the format of the raw data file, so we can't guarantee that the "canonical" form (according to Ethnol

[2015-03-10 12:03] #53 closed

[2015-03-10 12:03] #65 closed

[2015-03-10 13:04] bambooforest commented on #64
I think we can close this issue, or? Trump ordering will be handled internally by first come-first serve in alphabetic order. Other users can define trump as they fit. We will also pull in Glottolog codes (todo).

[2015-03-10 13:04] #64 closed

[2015-03-11 03:35] drammock commented on #60
Closing based on fix in place in aggregation output.

[2015-03-11 03:35] #60 closed

[2015-03-18 07:33] drammock opened #67 "Azerbaijani ISO code"
The "gold standard" document lists language `azb` "Azerbaijani" (SPA).  The current output of the aggregation script has the same data (from SPA) under ISO code `azj`.  Which is correct?  Did you change this in the gold standard doc or in the SPA raw data file at some point, @bambooforest?  I couldn't find any open or closed issues mentioning those ISO codes or language name.

Additional info: acc

[2015-03-20 23:16] bambooforest commented on #67
If look at what WALS tagged this resource:

http://wals.info/refdb/record/Householder-and-Lofti-1965

(check the bibtex entry) we get both azb and azj. I think at some point we were avoiding macrocodes, but in this case it seems like the best choice. Thoughts?

[2015-03-21 02:35] drammock commented on #67
It seems like in this case the macrocode might be the appropriate choice.
However, if we do that I think we need to build an additional column into
the aggregation script that says "this is a macrolanguage" so that users
can easily exclude macrolanguages if they want to (or look only at the
macrolanguages).  We may want to do something similar to make it easy to
find all signed / mixed / pidgin /

[2015-03-30 04:31] drammock commented on #67
I went to the source, which clearly says in the introduction that

Where Tabrizi is the dialect of Tabriz, i.e., Southern Azerbaijani (cf. the first few paragraphs of [this review article](http://www.jstor.org/stable/597735?seq=1#page_scan_tab_contents)).  Apparently the book also has one chapter on the dialect of Baku (which would be Northern Azerbaijani), but I looked at it and it's too cursory

[2015-03-30 08:06] drammock opened #69 "add indicator columns for unusual language types"
Probably want separate columns for mixed, pidgin, creole, signed, ancient, extinct. Could also conceivably do a single column that had one of those strings or `NA` for each language. That would be more compact, but a bit harder to deal with if we had a language that was creole + signed, mixed + extinct, etc.

Closes #67

[2015-03-30 08:07] #67 closed

[2015-04-14 09:40] bambooforest opened #71 "add conventions text file to root level"
add phoneme conventions, etc.

perhaps add addressed decisions in separate section via the paper trail

https://github.com/uzling/phoible-data/blob/master/agg-vs-gold-mismatches.tsv

[2015-04-14 10:05] drammock opened #72 "feature vectors for some phonemes not getting properly merged"
out of 2211 phonemes, 221 are not merging properly, although at least some of them are definitely present in feature table.

[2015-04-15 03:42] drammock commented on #72
221 reduced down to 28 by moving `glyphID` assignment to occur after `markMarginal`.

5 of these are possibly glyph errors in `nmn` from the `GM` datasource: `ˀnʘ`, `ˀnǁ`, `ˀnǂ`, `ˀnǀ`, `ˀnǃ` probably should all be `ŋ` instead of `n`.  A couple are bare click symbols with missing dorsal place glyphs, and most of the rest are breathy pre-aspiration phonemes.

[2015-04-15 09:49] drammock commented on #72
This is bringing to light a number of IPA issues that I thought we had already resolved.  For example, I thought we agreed to eliminate all cases of `dʰ` in favor of `dʱ` (and similarly for all other cases of (pre-)aspiration on base segments that are voiced). Consequently I tried to just replace `dʰ` with `dʱ` in the features table, but in fact that causes lots of cases of `dʰ` (which I thought h

[2015-04-15 10:45] bambooforest commented on #72
It looks like this was simply (and on my part) not resolved:

https://code.google.com/p/phoible/issues/detail?id=84

So perhaps the best way to deal with these and the other issues for
future's sake is to keep track of them and resolve them in these git issues
by clearly stating what and why.

So any voiced segment that is aspirated, regardless pre or post, should use
the <ʱ> U+02B1 and voiceless

[2015-04-16 01:28] drammock commented on #69
I have lists of MultiTree family codes for ancient/extinct/pidgin/creole/mixed/signed/unclassified languages, but not lists of individual ISO codes. Is it possible to get this for free as part of the genealogy info?

[2015-04-16 01:39] drammock opened #73 "aspiration in source data"
There should never be a standard aspiration diacritic `ʰ` on a base glyph that is voiced. All such instances of `ʰ` in the data sources should be converted to `ʱ`. The features table will need to be updated as well, to make sure that the revised phonemes are still getting assigned a feature vector.

[2015-04-16 01:40] drammock commented on #72
The aspiration issue is now #73.

[2015-04-16 02:28] drammock commented on #10
I checked the Yine article, and it just says "palatal affricate" which suggests changing from `tç` to `cç`. I don't have the Akha source.

[2015-04-16 07:40] bambooforest commented on #69
Can you give me an example? Don't most languages even if they are
extinct/pidgin/creole
have ISO 639-3 codes? (Ancient languages may be a different story; they
were documented by Anthony Aristar at Linguist List at some point in the
past <knee slap>.)

Remember also that the Ethnologue only display living languages, so just
because it may not display an extinct language by code doesn't mean the
co

[2015-04-16 07:41] bambooforest commented on #73
Are you assigning me this issue? If so, please assign and I'll take care of
both the segments in the original resources and the features in the feature
look up table.

On Thu, Apr 16, 2015 at 3:39 AM, Daniel McCloy <notifications@github.com>
wrote:

[2015-04-16 07:42] bambooforest commented on #10
Emailing you the article. What about these squibs anyway? Should we host them somewhere?

[2015-04-16 08:13] drammock commented on #69
I guess what I meant was this: if we end up parsing genealogies (from
Ethnologue or wherever) then we should get info such as "is an isolate" for
free, but any other languages we have data for that aren't in Ethnologue
(e.g., ancient/extinct/pidgin/creole/mixed) will just have NULL values for
genealogy, and we won't have a good way to assign values to the "is this an
unusual language type" variabl

[2015-04-16 08:14] drammock commented on #73
done.  FYI, you can also self-assign from the right-hand column of the issue page.

[2015-04-16 08:20] bambooforest commented on #69
I think we should take all genealogy info from Glottolog -- so what we need
is Forkel's mechanism for getting Glottolog codes via ISO 639-3 mappings.
Then we can get a bunch of stuff "for free", not just genealogy.

On Thu, Apr 16, 2015 at 10:13 AM, Daniel McCloy <notifications@github.com>
wrote:

[2015-04-16 08:21] bambooforest commented on #73
but i thought maybe you wanted to take this on ;)

On Thu, Apr 16, 2015 at 10:14 AM, Daniel McCloy <notifications@github.com>
wrote:

[2015-04-17 08:19] drammock commented on #10
@drammock steals the ball from @bambooforest, passes to @drammock, its @drammock, @drammock all the way...  GOOOOOAL!!

[2015-04-17 11:14] #72 closed

[2015-04-17 11:14] #10 closed

[2015-04-18 02:13] bambooforest opened #77 "aggregation script aggregating header row from somewhere"
line 22611:

ISO	Name	Dialect	Phonemes	Allophones Allophones Allophones Allophones Allophones	gm	0050+0068+006F+006E+0065+006D+0065+0073	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA	NA

[2015-04-18 02:15] drammock commented on #77
I think this is already fixed in #70 but I'll double-check.

[2015-04-18 09:38] bambooforest opened #78 "aggregating script dropping data?"
some weird things come out of the aggregation script that i'm discovering via the R code on multivariate variables i emailed you. for example:

filter(multivariate, coronal==FALSE)

returns:

fan
ksf
mky
sgw
thm
xbr

filter(final.data, LanguageCode=="ksf") --> 7 phonemes
filter(final.data, LanguageCode=="fan") --> 1 phoneme
filter(final.data, LanguageCode=="mky") --> 1 phoneme
filter(final.data, L

[2015-04-19 07:56] drammock commented on #78
PH source data for fan has errors in the "specific dialect" column that are
probably at fault here.  See lines 1070-1072 of the data file.

GM source data for xbr has an errant entry in the "specific dialect" column
on line 465 of the GM_SEA file. It happens to come on the very last phoneme
of the inventory, which is why it ylelds only 1 phoneme.

thm occurs twice in the PH data. I can't discern a

[2015-04-20 20:12] bambooforest opened #80 "NAs in Allophones"
Not sure if this is an issue @drammock but I'm in the middle of the aspiration cleaning so wanted to file a quick issue as not to forget what I came across (Source, LanguageCode, Phoneme, Allophone):

ra	awa	cçʰ	NA
ra	ben	cçʰ	NA
ra	bft	cçʰ	NA
ra	bkk	cçʰ	NA
ra	bns	cçʰ	NA
ra	cdn	cçʰ	NA
gm	xuu	bʰ	bʰ
ph	ahk	cçʰ	cçʰ
spa	aka	cçʰ	cçʰ

[2015-04-21 02:54] drammock commented on #41
This was supposed to auto-close when #68 was merged.

[2015-04-21 02:54] #41 closed

[2015-04-21 02:59] drammock commented on #32
@bambooforest is this still on your radar?  You merged #28 long ago.

[2015-04-21 03:00] drammock commented on #71
Closed per #76

[2015-04-21 03:00] #71 closed

[2015-04-21 03:01] drammock commented on #58
Should have auto-closed when #68 was merged...

[2015-04-21 03:01] #58 closed

[2015-04-21 03:16] drammock opened #81 "How to represent pitch accents glyphically?"
This issue is for keeping track of inventories that are known to have pitch accents among their tonemes, and how the pitch accents were encoded. It should not be considered exhaustive.

- `nld`, dialect: Hasselt, source: Peters 2006, accent 1: no underlying tone, accent 2: low tone (cf. pp 121-123 and uzling/phoible-data#7)
- `nld`, dialect: Maastricht, source: Gussenhoven 1999, accent 1: no tone,

[2015-04-21 03:58] drammock commented on #80
That is a feature, not a bug.  `NA` means "this resource had no info about allophones at all", where as an empty string means "this resource listed allophones for some phonemes, but this particular phoneme didn't have an entry".  If you want to discuss revising this convention, feel free to re-open and convince me :)

[2015-04-21 07:27] bambooforest commented on #32
Do you want me to merge the GM files into one? I'm not sure what you're asking here.

We agreed we would skip the demographics (population) and genealogy comes for "free" when we merge in Glottolog codes.

Should we just close #32 and #28 ?

[2015-04-21 07:36] bambooforest commented on #80
reopening because this is smart and it should be noted in the conventions, which i will do.

[2015-04-21 07:38] drammock commented on #32
I don't think it's necessary to merge the source files into one.  I just
want one of two things:

1. delete the GM readme (and the UPSID folder readme while you're at it;
none of the other data sub-folders have one)
2. change the GM (and UPSID) readme to be accurate/current, e.g., not
include a to-do list

On Tue, Apr 21, 2015 at 3:27 PM, Steven Moran <notifications@github.com>
wrote:

[2015-04-21 07:48] drammock commented on #80
ok, just make sure to re-close once that's done.  Also, can we change the
conventions document from PDF to plain text or (better yet) markdown?

On Tue, Apr 21, 2015 at 3:36 PM, Steven Moran <notifications@github.com>
wrote:

[2015-04-21 08:49] drammock commented on #81
This issue is hereby moved to [the wiki](https://github.com/phoible/phoible/wiki/Representing-pitch-accents)

[2015-04-21 08:49] #81 closed

[2015-04-21 12:00] drammock commented on #78
Any idea about the provenance of those spurious "dialects" on lines 1070-1072 in the Fan inventory?

`harhar`, `ŋɡb`, `nym`

I looked through the introduction of [the source document](http://pubman.mpdl.mpg.de/pubman/item/escidoc:403463:4/component/escidoc:403462/fan_eko1974_o.pdf) and there's no obvious mention of a dialect name. OK to just delete those cells?

[2015-04-21 12:05] drammock commented on #78
`xbr` problem addressed in #70, commit 116b87caaeb494222cbc11dce652780f7ab4346e

[2015-04-21 12:10] bambooforest commented on #78
Yes, OK to delete those cells. Looks like some copy and paste error.

Specific Dialect Phonemes Questions
harhar ŋɡ
ŋɡb kp
nym ŋmɡb updated from ŋɡb
w

from when I was correcting Dr. Green's transcriptions.

On Tue, Apr 21, 2015 at 2:05 PM, Daniel McCloy <notifications@github.com>
wrote:

[2015-04-21 12:17] bambooforest commented on #78
A quick table(final.data$SpecificDialect) shows some things I could look at in more detail and correct / normalize:

Dialect
Harar
harhar
macrolanguage
nj
northern
Northern
nym
ŋɡb
One possibility
Ordinary'

[2015-04-21 12:28] drammock commented on #78
I removed "One possibility".  "harhar", "nym", and "ŋɡb" came from `fan`, which is now addressed in #70. "nj" came from `xbr` which is also fixed in #70. "macrolanguage" seems like potentially good information to keep. "Ordinary" could conceivably be a dialect name, as could "Northern" or "Harar".  We should probably check the primary sources for those three.  Thanks for volunteering!

[2015-04-21 12:34] bambooforest commented on #78
Will do!

On Tue, Apr 21, 2015 at 2:28 PM, Daniel McCloy <notifications@github.com>
wrote:

[2015-04-24 09:58] bambooforest commented on #73
@drammock please advise regarding:

cɕʰ	ok		shouldn't this be t̠ɕʰ ?

for this I get three rows all from UPSID:

nbf	upsid	cɕʰ
gio	upsid	cɕʰ
cnh	upsid	cɕʰ

where we have the rows:

416	cɕʰ	cɕʰ		cC,h	voiceless aspirated palatal sibilant affricate	corrected from cʃ̠ʰ
417	cɕ	cç		cC,	voiceless palatal sibilant affricate	corrected from cʃ̠

in the correspondences file:

https://github.com/phoible/phoib

[2015-04-24 10:50] bambooforest opened #83 "Glottal tap?"
https://github.com/phoible/phoible/blob/master/data/PH/phoible_inventories.tsv#L743

Getting source material to double check.

[2015-04-24 11:08] drammock commented on #73
If it's "palatal", it should be cç
if it's "alveolopalatal", it should be t̠ɕ

On Fri, Apr 24, 2015 at 5:58 PM, Steven Moran <notifications@github.com>
wrote:

[2015-04-24 11:47] drammock commented on #77
This appears to have been fixed in #70 already; when I'm working in that branch, searching for `0050+0068+006F+006E+0065+006D+0065+0073` in the `GlyphID` column gives me zero rows.

[2015-04-24 11:47] #77 closed

[2015-04-24 11:58] drammock commented on #80
the information about `NA` in allophone column is now recorded [on the wiki](https://github.com/phoible/phoible/wiki/About-PHOIBLE), so I'm closing this issue.

[2015-04-24 11:58] #80 closed

[2015-04-24 12:36] drammock commented on #83
The source material does not give any further information other than placing the symbol `x` in the table at the row and column indicating "glottal tap". There are also a couple sample words, also using `x`.  Recommend tracking down the reference cited in that document as the source of the phonological information:

[2015-04-24 14:23] bambooforest opened #84 "voiceless breathy consonants"
gm  kck kʷʱ   kʷʱ
gm  kck pʱ pʱ
gm  kck tʱ tʱ
gm  kck tsʱ    tsʱ
gm  kck t̠ʃʱ t̠ʃʱ
gm  kck wʱ wʱ

in source: kck_mathangwane.PDF

[2015-04-24 22:05] bambooforest commented on #83
I've looked all over for this, even contacted HH, but it hasn't been found.
Could you look?

On Fri, Apr 24, 2015 at 2:36 PM, Daniel McCloy <notifications@github.com>
wrote:

[2015-04-24 22:26] drammock commented on #83
Heh. I'll try, but I'm not even allowed inside the library here (and I
seriously doubt they would have it anyway). So if it's not online I can't
get it until at least July.
On Apr 25, 2015 6:05 AM, "Steven Moran" <notifications@github.com> wrote:

[2015-04-24 22:29] bambooforest commented on #83
OK. I'll keep trying.

On Sat, Apr 25, 2015 at 12:26 AM, Daniel McCloy <notifications@github.com>
wrote:

[2015-04-25 00:18] #32 closed

[2015-04-25 04:00] drammock commented on #73
linking this issue to #84

[2015-04-25 04:18] drammock opened #85 "Frictionalized diacritic"
Look into four cases of the frictionalized diacritic that are a bit odd:
`ɭ͓`  njo (Ao), upsid
`ɖr̠͓`  plt (Malagasy), upsid
`ɾ͓`  tna (Tacana), upsid
`r͓̪|r͓`   gug (Guarani), upsid

[2015-04-25 04:22] drammock opened #86 "Retroflex click symbol"
Replace all `ǃǃ` (U+01C3 U+01C3) with `‼` (U+023C). These occur in [xuu] !Xun (GM).

[2015-04-25 08:46] bambooforest commented on #86
This is handled in commit

8124491eb1c5268d9e564ddf2e463138ce15deb4

in the up coming PR.

[2015-04-25 08:46] #86 closed

[2015-04-25 09:13] bambooforest commented on #85
Squibs in email.

[2015-04-25 09:23] bambooforest commented on #73
I've tracked these down in the UPSID segment / feature set:

cɕʰ
cɕ
cɕʼ
ɲcɕ

which are all:

pal = TRUE
alv = FALSE
palalv = FALSE

So I assume this OK.

[2015-04-25 09:23] bambooforest commented on #84
Squib emailed.

[2015-04-25 09:32] drammock commented on #73
not OK.  If these are palatal, should be c-cedilla, not c-curl.

On Sat, Apr 25, 2015 at 5:23 PM, Steven Moran <notifications@github.com>
wrote:

[2015-04-25 09:35] bambooforest opened #87 "combining features"
Right now we have an approach requires that complex segments (e.g. kp) be assigned individually, otherwise feature sets are built segment by segment. So for example:

segment	sonorant	nasal	periodicGlottalSource
cɕʼ	-	-	-
ɲcɕ	+,-,-	+,-,-	+,-,-
cɕ	-	-	-
cɕʰ	-	-	-

We may want to revisit this and propose something like collapsing sets where the feature value repeats itself, e.g. +,-,- >> +,-

[2015-04-25 09:50] bambooforest commented on #73
Ok. Please advise on how to move forward. I've extracted all features from
both PHOIBLE and UPSID for the affected segments -- emailing it to you.

On Sat, Apr 25, 2015 at 11:32 AM, Daniel McCloy <notifications@github.com>
wrote:

[2015-04-25 10:09] drammock commented on #73
ahhh.  Palatal **sibilant** fricatives/affricates.  For UPSID, we decided long ago that "palatal non-sibilant" was c-cedilla, but "palatal sibilant" was c-curl.  So the preceding stop should become retracted t.  Sorry that I missed the word "sibilant" earlier in the issue thread.

[2015-04-25 10:15] bambooforest commented on #73
Before I update, I did a quick and dirty query

select LanguageCode, Source, Phoneme from phoible-phoneme-level-no-trump.tsv where Phoneme like '%ɕ%'

and get this (minus the lots of rows that return simply <ɕ>:

phl	ph	tɕ
pol	ph	tɕ
aka	gm	tɕ
mij	gm	tɕ
cav	ph	tɕ
jya	ph	tɕ
pbr	gm	tɕ
tsj	ph	tɕ
kig	ph	tɕ
cmn	ph	tɕ
hrv	ph	tɕ
afu	gm	tɕ
kxm	ph	tɕ
buu	gm	tɕ
bdh	gm	tɕ
kmw	aa	tɕ
aja	gm	tɕ
bod	ph	tɕ
afo	gm

[2015-04-25 10:43] drammock commented on #85
Notes so far:

`ɭ͓` njo (Ao), upsid:  voiced retroflex lateral fricative.  `ɮ̠` is a possibility, though not obviously better than what we have already.
`ɖr̠͓` plt (Malagasy), upsid:  voiced affricated retroflex trill (also a voiceless one).  This one is wrong, shouldn't get frictionalized diacritic. Could be `ɖɽ` or `ɖr̠`
`ɾ͓` tna (Tacana), upsid:  need squib.
`r͓̪|r͓` gug (Guarani), upsid:  voic

[2015-04-26 07:51] bambooforest opened #89 "t c-curl vs t-retracted c-curl vs c c-curl"
Before I update, I did a quick and dirty query

select LanguageCode, Source, Phoneme from phoible-phoneme-level-no-trump.tsv where Phoneme like '%ɕ%'

and get this (minus the lots of rows that return simply <ɕ>:

phl ph tɕ
pol ph tɕ
aka gm tɕ
mij gm tɕ
cav ph tɕ
jya ph tɕ
pbr gm tɕ
tsj ph tɕ
kig ph tɕ
cmn ph tɕ
hrv ph tɕ
afu gm tɕ
kxm ph tɕ
buu gm tɕ
bdh gm tɕ
kmw aa tɕ
aja gm tɕ
bod ph tɕ
afo gm

[2015-04-26 08:15] bambooforest commented on #73
New issue created for this last comment about t and curl. See issue #89

[2015-04-26 10:03] bambooforest commented on #78
Ordinary updated (Ordinary Kreol is the dialect) on my local fork on a branch. Harar is OK. Northern is OK. One thing we should consider is pulling in canonical language names from the Glottolog along with the Glottlog codes.

[2015-04-27 08:42] #83 closed

[2015-04-27 10:10] drammock commented on #73
Closing because #90 is merged.

[2015-04-27 10:10] #73 closed

[2015-04-30 08:46] bambooforest commented on #78
after the latest PR #70

thm phonemes (PH) are still being dropped in aggregation

but the other problems seem to be fixed, i.e.:

filter(final.data, LanguageCode=="ksf")
filter(final.data, LanguageCode=="fan")
filter(final.data, LanguageCode=="mky")
filter(final.data, LanguageCode=="sgw")
filter(final.data, LanguageCode=="thm")
filter(final.data, LanguageCode=="xbr")

[2015-04-30 12:32] drammock commented on #78
I think the dropping of [thm] is because if the multiple dialects of [thm]
listed in the PH raw data. I think the problem will go away when we have
proper unique doculect identifiers, but I'm working on a temporary fix in
the aggregation code in the meantime.
On Apr 30, 2015 4:46 PM, "Steven Moran" <notifications@github.com> wrote:

[2015-04-30 12:43] bambooforest commented on #78
So multiple inventories with the same language code (and name) but
different dialect name? Perhaps all three together are a unique identifier
(at least within a given raw data input source?). I can add the InventoryID
to Glottolog IDs mapping file to the repo, if that's helpful? At least
until we figure out how to pull that stuff directly from the Glottolog repo.

On Thu, Apr 30, 2015 at 2:32 PM,

[2015-05-01 08:17] drammock commented on #87
closing per discussion on 2015.04.28.  Combining features in this way collapses distinctions between `+,+,-` and `+,-,-`

[2015-05-01 08:17] #87 closed

[2015-05-01 08:18] drammock commented on #49
closing per #70

[2015-05-01 08:18] #49 closed

[2015-05-01 08:43] #43 closed

[2015-05-01 10:41] drammock commented on #89
Check out this excerpt from the aggregation script:
[code]
What we see is inconsistency in how we've translated UPSID features `pal` and `sib`. I'll fix this in UPSID first, then see what is left with regard to consistency with the rest of the database.  What I recall now is that:

1. we decided `tɕ` did not need a retraction mark because it was a simultaneous alveolar + palatal constriction, and

[2015-05-01 11:36] bambooforest commented on #89
I tried to keep all decisions regarding UPSID in the UPSID-IPA
correspondences. I found a document I'll send you by email.

On Fri, May 1, 2015 at 12:41 PM, Daniel McCloy <notifications@github.com>
wrote:

[2015-05-01 13:14] drammock commented on #89
alas, that document does little if anything to help. From page 17:

Looking again at the UPSID character codes, they consistently use `c` for "palatal stop", `C` for "palatal fricative", and `C,` for "palatal sibilant fricative" so I think we were right to interpret `C,` as `ɕ`. Since palatal sibilant fricatives and affricates are described in UPSID as `-alveolar` it is hard to justify using `t` a

[2015-05-01 17:50] bambooforest commented on #89
sgtm

On Friday, May 1, 2015, Daniel McCloy <notifications@github.com> wrote:

[2015-05-02 08:53] bambooforest opened #95 "Phonemes / allophones aggregated"
Checkout out the allophones for [nym] in final.data -- all the allophones (and I guess phonemes) are aggregated into the same inventory:

   Source LanguageCode Phoneme                                      Allophones
1      gm          nyf      kp       kp kpʰ kp kpʰ kp kpʰ kp kpʰ kp kpʰ kp kpʰ
2      gm          nyf      ɡb ɡb ŋmɡb ɡb ŋmɡb ɡb ŋmɡb ɡb ŋmɡb ɡb ŋmɡb ɡb ŋmɡb
3      gm          nyf

[2015-05-02 09:32] #89 closed

[2015-05-06 12:13] bambooforest commented on #78
note to self: ISO still showing up in the aggregated results:

filter(final.data, LanguageCode == "ISO")

[2015-05-06 12:33] drammock commented on #78
I am simply not seeing that. When I run `"ISO" %in% final.data$LanguageCode` it says `FALSE`.

[2015-05-06 12:35] drammock commented on #78
when was the last time you ran the full aggregation script to re-generate the .Rdata file?  Maybe you're working from an .RData file that was generated with an outdated version of the agg script.

[2015-05-06 13:11] bambooforest commented on #78
My bad. You're right.

On Wed, May 6, 2015 at 2:35 PM, Daniel McCloy <notifications@github.com>
wrote:

[2015-05-07 07:39] bambooforest opened #98 "Wrong language assignment"
you have confused two African languages under the name of Basari. One is a Gur (Voltaic) language of Northern Ghana and Togo; the other is an Atlantic language spoken in a border area between Senegal and Guinea. You have used the ISO code (bsc) and the location for the Atlantic language but have used a source describing the Ghana/Togo language, also known as Ntcham (ISO code bud) for the
segment i

[2015-05-08 11:39] bambooforest opened #99 "Inventory check"
allophone <rd> in [sza] in PH

[2015-05-09 10:30] bambooforest opened #102 "double check RA breathy j"
njm-ra  njm-ra-3    j̤     njm is the only language in RA to have j̤ so I'm inclined to assume that agg is correct here (otherwise why would RA have that column to begin with?)

[2015-05-09 10:33] drammock commented on #95
fixed in #101.  FYI, this was probably happening because there are 5 (five!) separate entries for `nyf` in the GM data.  With the newly-implemented Inventory IDs, they are properly segregated.

[2015-05-09 10:33] #95 closed

[2015-05-09 10:41] bambooforest commented on #95
sg. merged the recent PR. we also have 5 inventories for aka but they are
spread out over different sources. should i work out a method for
incorporating glottolog ids?

On Sat, May 9, 2015 at 12:33 PM, Daniel McCloy <notifications@github.com>
wrote:

[2015-05-09 10:41] drammock commented on #99
I had a glance at this inventory, most look pretty normal, except these few:

| Phoneme | Allophones  |
|:-------:|:-----------:|
|   ɟ     |        ɟ ɟʑ |
|   r     |  r j̃ w̃ ɾ |
|   c     |    c c̚ cɕ |
|   ɔ     |       ɔ ɔ̃ |
|   ɔ̃   |  ɔ̃ ɔ̃ ɔ̃ |
|  ˀj     |      ˀj rd |

[2015-05-09 10:44] bambooforest commented on #99
i'll look into these. will update you about segmentation at the next meeting as well.

[2015-05-09 10:45] drammock commented on #102
just to be clear, is breathy j, not voiceless j

[2015-05-09 10:45] drammock commented on #78
fixed in #101.

[2015-05-09 10:45] #78 closed

[2015-05-15 07:51] bambooforest opened #105 "Uduk inventory"
Missing /ŋ/ and /ɲ/ and contrastive aspiration from Bender (via GM)

Add new inventory from Killian

[2015-05-15 08:08] bambooforest opened #106 "Investigate missing gcodes"
2 missing gcodes; find out why

[2015-06-16 09:31] bambooforest opened #109 "inventory ID lookup fails"
to fix...

from PR #108

I think this is ready for review and merge, @bambooforest. Notes:

The inventory ID lookup is still failing (partially).  In the results folder is a text file showing each inventory in the data that did not resolve to a unique inventory ID based on the mapping table.  The lookup is based on Source and ISO code (see lines 95-96 of agg script), and if that fails, it attempts

[2015-06-29 16:16] bambooforest opened #112 "double check sources"
http://phoible.org/parameters/E42D1DF16C6D3C3F02243B9220DDF54C#6/-18.918/23.609

http://phoible.org/parameters/7923B7E1859F891FD08B68F016654DB7#3/9.80/34.90

[2015-07-09 08:15] bambooforest opened #113 "OLAC metrics"
http://www.language-archives.org/checks/phoible.org

[2015-07-09 15:12] drammock commented on #113
I'm pretty sure I fixed all these already. Try searching for any of them in
the generated Rdata file. OLAC just doesn't know about the changes because
they're not pushed to CLLD yet.
On Jul 9, 2015 3:15 AM, "Steven Moran" <notifications@github.com> wrote:

[2015-07-15 15:53] bambooforest opened #114 "Inventory Lyele (PH) has wrong language family"
http://phoible.org/inventories/view/772

is not Gur, but Afro-Asiatic:

http://glottolog.org/resource/languoid/id/lele1276

as described in

http://phoible.org/sources/leefrajzyngier2001

this inventory

http://phoible.org/inventories/view/772

is ok.

wrong language code (which causes wrong family and geo-coordinates to be pulled in)

Lele (Chad) -> http://www.ethnologue.com/language/lln

[2015-07-15 16:08] bambooforest opened #115 "Negative int values in Rdata object"
does this perhaps have to do with what you mentioned in #108 @drammock ?

[2015-07-15 18:25] drammock commented on #115
Closing as duplicate of #109.  The negative inventory IDs are for inventories that could not be unambiguously identified in the mapping table, based on ISO + Source + Bibkey.  See comments in the aggregation script (lines 83-127, esp. line 111).

[2015-07-15 18:25] #115 closed

[2015-07-19 08:33] bambooforest opened #116 "Ubangi and not Adamawa"
WALS genus of

http://phoible.org/languages/bfl
http://phoible.org/languages/bbp

are Ubangi and not Adamawa

[2015-08-03 11:11] bambooforest commented on #116
WALS genera are updated from time-to-time and the current version of phoible online has a historic version.

https://github.com/clld/wals-data/issues?q=is%3Aissue+is%3Aclosed

From RF, something to consider:

So the question for databases referencing WALS genera becomes: What do they want to indicate? "Historic" WALS genera, i.e. the classification as it was at some point in time? This would be th

[2015-08-03 14:58] drammock commented on #116
I'd say the genera are potentially part of analysis (our Language paper
used them that way). My choice would be to incorporate the WALS genera in
the Phoible repos so that they are tracked and can be updated with
successive releases without compromising reproducibility.
On Aug 3, 2015 4:11 AM, "Steven Moran" <notifications@github.com> wrote:

[2015-08-24 10:21] bambooforest opened #117 "Pre-nasalized stops apparently wrong"
See Maddieson 2015, section 5

[2015-10-28 10:55] bambooforest opened #118 "Add Mako [wpc]"
There's a good phonological description by Jorge Emilio Rosés Labrada here:

http://ir.lib.uwo.ca/etd/2851/

[2015-10-28 10:56] bambooforest opened #119 "Coordinates for Yavitero"
the marker on the map for the Arawakan language Yavitero seems to be too far to the East and North of where the language was traditionally spoken. The coordinates in the ELCat (http://www.endangeredlanguages.com/lang/1640) could give you a good idea of where to place the marker for Yavitero

[2015-10-29 21:00] bambooforest opened #120 "wrong language code for Madi"
A Grammar of Ma’di by Blackings, Mairi, and Fabb

is not the Madi spoken in Papua New Guinea, but perhaps:

http://www.ethnologue.com/language/mhi

[2015-11-11 11:47] bambooforest opened #121 "Some missing codes in inventoryids_iso_gcode.csv"
1906,gny,
1970,qpt,
1999,adc,
2143,psx,
2150,yrm,

resolved to:

1906,pue,puel1244
1970,gvp,para1315
1999,mcd,shar1245
2143,tuo,pisa1245
2150,wca,yaro1235

- there is no ISO code for Pisamera, so I took the "language" which has it as a dialect -- here Glottolog is more detailed than ISO/Ethno
- yaro1235 is more detailed than the corresponding qca

[2015-11-11 13:06] bambooforest commented on #121
@drammock i want to update these codes in this repo, so I should do here:

https://github.com/phoible/dev/blob/master/mappings/InventoryID-ISO-gcode-Bibkey-Source.tsv

or? Is there any point in maintaining:

https://github.com/phoible/dev/blob/master/mappings/InventoryID-BibtexKey.tsv
https://github.com/phoible/dev/blob/master/mappings/InventoryID-ISO-gcode.tsv

since they can be derived from the

[2015-11-11 18:18] drammock commented on #121
I think the smaller tables can go away; they were used to create the bigger table, which is more useful and should be our primary point of maintenance going forward.

[2015-11-22 19:40] bambooforest opened #122 "Update language name"
http://phoible.org/languages/skr

"Seraiki"

source says:

"Shackle, C. 1976. The Siraiki Language of Central Pakistan: A Reference Grammar. Unwin Brothers Limited."

[2015-12-02 19:21] bambooforest opened #123 "rename final.data"

[2015-12-06 17:41] bambooforest opened #124 "allophonic changes"
would be cool (and a lot of work) to label the allophonic changes according to sound change "class"

[2016-01-13 21:55] #121 closed

[2016-01-14 12:27] bambooforest opened #126 "diacritic order space modifier letters"
in coventions

http://phoible.github.io/conventions/

we give an explicit ordering in 1 though 8 and i thought the order within, say 8, should be kept (e.g. it makes sense to apply a rhotic hook typologically before a nasal release)

in the segments-features file though we have palatalized <ʲ> always before labialized <ʷ>, e.g.

sʲʷ
lʲʷ

which seems to be consistent with the literature. so should

[2016-01-14 14:11] saraiki commented on #122
This language be renamed as Saraiki see http://www.ethnologue.com/language/skr

[2016-01-14 15:12] bambooforest commented on #122
According to the Ethnologue, there are several alternative names for Saraiki including:

Bahawalpuri
Multani
Riasiti
Seraiki
Siraiki

We have used the language name Siraiki because that is the language name used in the grammar from which we identified the phoneme inventory:

https://books.google.ch/books/about/The_Siraiki_Language_of_Central_Pakistan.html?id=6cpjAAAAMAAJ&redir_esc=y

http://www.am

[2016-01-14 15:26] saraiki commented on #122
Thanks

[2016-01-14 15:54] saraiki commented on #122
kindly this also be renamed in page  http://crubadan.org/languages/skr

[2016-01-14 16:14] bambooforest commented on #122
Sorry, you will have to contact Kevin Scannell. We do not have access to the Crubadan website.

[2016-01-14 16:15] saraiki commented on #122
ok

[2016-01-14 17:12] drammock commented on #126
The way it's written in the conventions is forward-looking, and I was intending that the existing ordering would get revised when we implement the code for automatic generation of feature vectors from glyphs.  The ordering `labialized ʷ, palatalized ʲ, velarized ˠ, pharyngealized ˤ, glottalized ˀ, aspirated ʰ, ejective ʼ` was chosen based on a "front to back" rationale. Personally I don't feel str

[2016-01-14 17:15] bambooforest commented on #126
I'm working on the segments-feature file, so I can update accordingly and push so you can review.

[2016-01-14 17:21] drammock commented on #126
OK.  though to clarify:  I was expecting that the re-ordering would not need to be manually done (I've got R code that seems to do it correctly, but it's not merged in because it's not tested carefully enough yet).  So unless you want to do this now for other reasons, I don't advise spending the time to do it manually.

[2016-01-14 17:29] bambooforest commented on #126
OK. I'm adding new segment types (seems to always be one or two per incoming inventory), but I won't bother cleaning up the other issues until we re-address them with the code. (Will still get your OK on the new feature vectors though :)

[2016-03-16 14:44] bambooforest opened #127 "Ainu"
update the Ainu inventory:

Tamura, Suzuko. 2000. The Ainu language. (ICHEL Linguistic Studies, 2.) Tokyo, Japan: Tokyo: Sanseido. x+292pp.

The Languages of Japan and Korea

[2016-04-15 09:32] gnutz opened #128 "Two small errors in data"
Hello,

I found two small errors in your data:

1. In the [aggregated 2014 release](https://github.com/phoible/dev/releases/tag/v2014), the file _phoible-phonemes.tsv_ shows the Language **Indonesian** (source GM) with the wrong language code. It should be **ind** and not **idn**.
2. The entry for Yanyuwa (source UPSID) in the online repository shows the source name: YANYPHA. However, in the UPSID

[2016-04-15 16:21] drammock commented on #128
Thanks!  It looks like both of those issues have been fixed already in the current master branch, and will be incorporated in the next release.

[2016-04-15 16:21] #128 closed

[2016-06-07 16:51] bambooforest opened #131 "Update text for 2016 release"
on the website and wherever necessary, e.g.

http://phoible.org/credits

--> MPI Jena ?

[2016-06-08 22:38] drammock commented on #126
closed by #129 as no longer relevant (component ordering is now automated)

[2016-06-08 22:38] #126 closed

[2016-06-08 22:41] drammock commented on #109
closed by #130 and #136.

[2016-06-08 22:41] #109 closed

[2016-06-08 22:43] drammock opened #137 "voiceless implosives"
should we replace any instances of ʛ̥ with ʠ (I noticed at least one today) and check for other cases of voiced implosive glyphs with devoicing diacritics?  I vote yes.

[2016-06-09 19:45] drammock opened #141 "automatic handling of unconventional glyphs"
would be good to have a function for auto-cleaning some of the common glyph synonyms (stuff that won't get caught automatically by denormalization) such as:

- two-story vs one-story [g]
- precomposed digraphs for affricates
- colons vs real length markers
- c-cedilla
- apical vowel symbols commonly used by sinologists
- others?

this could get built into the `orderIPA` function or could be its ow

[2016-06-10 00:46] bambooforest opened #142 "output of orderIPA function"
i get something like this:

Warning: Unfamiliar glyph components. Phone: <ã> Codepoint: <Unfamiliar glyph components. Phone: <ã> Codepoint: >
Warning: Unfamiliar glyph components. Phone: <bʲ> Codepoint: <Unfamiliar glyph components. Phone: <bʲ> Codepoint: >
Warning: Unfamiliar glyph components. Phone: <ɕ> Codepoint: <Unfamiliar glyph components. Phone: <ɕ> Codepoint: >
Warning: Unfamiliar glyph

[2016-06-10 00:52] drammock commented on #142
oops. used to work but I broke it this morning. Change [this line here](https://github.com/bambooforest/phoible/blob/add-new-resources/aggregate-raw-data.R#L380) from `typ[missing]` to `codepoints(typ[missing])`

[2016-06-10 17:53] #142 closed

[2016-06-14 21:56] bambooforest opened #143 "Finish EA and UZ segment updates"
a reminder to finish the EA segment-phoneme correspondences to make them follow phoible conventions

also, update any strange segments in UZ 2016 inventories

initial input data is being added in #140

also, will need to update the bibtex mapping file and add the latest and greatest references

[2016-08-25 10:01] xrotwang opened #145 "Relation between languages and WALS genera is gone"
Just to confirm: The relation between languages present in PHOIBLE and the WALS genus they fall in is no longer maintained as part of the data, right?

I think it makes sense to drop this relation, although the concept of WALS genera may be a good thing to have, e.g. for sampling strategies. Anyway, the best way to re-introduce this would presumably be through a corresponding notion of genus in Gl

[2016-08-25 10:02] xrotwang commented on #145
@d97hah what do you think about WALS-like genera in Glottolog?

[2016-08-25 10:35] xrotwang opened #146 "mapping of InventoryID to Glottocode is not complete"
The [mapping of InventoryID to Glottocode](https://github.com/phoible/dev/blob/ecf665c260a3bc99f1ed7b52fabb16771fb2157f/mappings/InventoryID-ISO-gcode-Bibkey-Source.tsv) is incomplete. The inventories starting at 2239 are missing.

[2016-08-25 10:36] xrotwang commented on #146
@bambooforest you told me you are working on this, the issue is just a trigger, so I get noticed once you are done :)

[2016-08-25 11:12] d97hah commented on #145
It's not a well-defined notion so it can't be implemented. What one could
do as a substitute is to have a lex-stat number attached to each internal
node, computed from e.g. ASJP but ASJP doesn't cover all lgs (yet).

2016-08-25 12:02 GMT+02:00 Robert Forkel <notifications@github.com>:

[2016-08-25 12:36] xrotwang opened #147 "Map inventories to Glottolog dialects"
It would be useful - I guess - to be as specific as possible when mapping inventories (or the corresponding varieties) to Glottolog languoids; in particular, for cases where PHOIBLE has multiple inventories from the same source for the same Glottolog language, linking to dialects would be good.

In some cases this also seems pretty straightforward, e.g. for the [language Giryama](http://phoible.or

[2016-08-25 13:21] xrotwang commented on #147
Another case is [Sebat Bet Gurage](http://phoible.org/languages/sgw), where 5 out of 6 inventories seem to correspond to [varieties on Glottolog](http://glottolog.org/resource/languoid/id/seba1251).

[2016-08-26 21:04] drammock commented on #145
The current PHOIBLE heirarchy of identifiers goes (from most granular to least granular):

I don't object to dropping the WALS genera data from PHOIBLE as long as there is some level of identifier that can serve as a link between PHOIBLE and WALS, so users could merge the WALS genera into a PHOIBLE dataset if they wanted to.  At present the ISO code is sufficient for this task.

[2016-08-26 21:09] drammock commented on #147
agreed. can this be (semi-)automated?

[2016-08-29 09:42] xrotwang commented on #145
Both, ISO code and Glottocode can be used to merge the WALS genera into a PHOIBLE dataset.

Btw. as far as I can tell, WALS genera **and** ethnologue family/stock have already been dropped from the PHOIBLE data (at least from `data/phoible-by-phoneme.tsv`).

[2016-08-29 10:20] bambooforest commented on #145
Indeed we dropped all non-phoible data except identifiers. One issue regarding WALS genera is that I had to hand curate all those data points for which there are languages that are not in phoible. I don't suppose that WALS genera exist for all languages in Glottolog -- so I could add this hand-curated data file somewhere, if we want to keep the link to WALS genera and the inferred points.

[2016-08-29 11:25] xrotwang commented on #145
@bambooforest I you were to hand-curate such a file, I think the even greater service would be one that links all PHOIBLE languages to Glottolog sub-groups corresponding to what the WALS genus would have been. This way, you would
- make sure you can find a genus-like sub-group for each language (possibly PHOIBLE does now have languages where the whole family is absent from WALS)
- add information

[2016-08-29 11:41] bambooforest commented on #145
Ok. An fyi -- I hand curated the WALS genera back in 2010, when writing the thesis. I haven't done any additions since (so the newer languages won't be mapped to WALS codes or genera).

I agree a more stable approach is warranted if want to have Glottolog sub-groups that correspond to WALS genera. Can we automatically map our existing data to get started? We still have phobile IDs to WALS genera a

[2016-08-29 12:12] xrotwang commented on #145
@bambooforest I think I could seed the mapping automatically. Could do this once you completed the mapping to Glottolog and ISO.

[2016-08-29 12:40] d97hah commented on #145
My hunch is the following automated strategy might work to a very high
degree (to map an iso-code to a WALS genus):
1. If the iso-code is in WALS, take the genus from there
2. If the iso-code is not in WALS, look at the successively closest
relative of the iso code which is in WALS and assign that genus
3. Leave no genus assigned to the iso-code if it has no relative in WALS

2016-08-29 13:41 GMT+

[2016-08-29 12:58] xrotwang commented on #145
If the genus concept is so ill-defined that no complete mapping of PHOIBLE languages to such entities in Glottolog can be constructed, I think it would be best to drop this information from PHOIBLE for good. Because otherwise, any analyses using the genus mapping would not only rely on this ill-defined concept but also introduce sampling bias from WALS.

[2016-08-29 16:34] drammock commented on #145
I agree about WALS genera potentially *introducing* a sampling bias despite its intent to be a tool to facilitate equal-time-depth sampling.  So although I want end users to be able to integrate WALS genera into a PHOIBLE dataset if they want to, I would not push @bambooforest (or anyone else) to spend a lot of time on expanding/improving what already exists in WALS.

[2016-10-16 21:24] drammock opened #148 "ressurect tie-bars?"
@bambooforest I'm starting to think that life would be better if we ressurected our use of the tiebar.  Specifically, it would make it easier for the script to do the right thing when auto-building feature vectors based on the glyph components.  For example, doubly-articulated stops like `kp` are almost always a simultaneous closure, so they should **not** get features like `+,- labial` and `-,+ d

[2016-10-20 11:50] bambooforest commented on #148
i'm ok with this decision. you may be able to glean what's complex and not by using the features chart.

are we going to be completely consistent throughout the database? meaning if we use the tie-bar for complex segments like /kp/, do we also use it for /t̠ʃ/ and all affricates?

historically, IPA allowed the tie-bar to represent affricates (revision 1932) with the tie-bar (also as two consecutiv

[2016-10-20 16:19] drammock commented on #148
1. it's easy enough to accept both above and below tiebars in the input, and the code can standardize on one of them.
1. my thinking was that the tiebar would be used for affricates and doubly-articulated sounds, but we would not bother using it for diphthongs because they always get contour features anyway (i.e., you can't make a "simultaneous" /i/ and /a/ in the same sense that you can make a si

[2016-10-21 08:13] bambooforest commented on #148
regarding:

1. well i hope the unicode string handling library is better at this in R than in Python... tie-bar is notoriously difficult
2. sounds good (plus i like how we handle diphthongs atm)
3. if we do do a database-wide change, should we also consider standardizing more the use of diacritics, like dental, as in make sure that a multi-segment segment that is dental contains dentals on either

[2017-01-10 16:14] bambooforest opened #149 "f is not f"
http://phoible.org/languages/nam

it is a bilabial fricative in: Hoddinott 1988

the symbol <f> in the bilabial fricatives column seems to be relatively common in descriptions (probably due to typographic ease)

[2017-01-19 13:53] bambooforest opened #150 "Allophone notes in SPA"
It looks like the notes in SPA have been digitized, e.g.

https://archive.org/stream/kjn_SPA1979_phon/kjn_SPA1979_phon_djvu.txt

Would be great to get these programmatically, but I doubt it'll happen any time soon, if ever. :)

[2017-02-21 15:24] n31k opened #151 "UTF-8 Encoding on Win 7 64 bit R 3.3.2"
Hello and nice job there! This issue has three points, but are all closely related to encoding. Thus I decided to put them all here together.

1. I ran the `aggregation.R` file and encountered some errors due to encoding. I added `encoding="UTF-8"` in all `read.delim()` calls and the script run fine - except for the line adding feature columns to the `all.data` data frame, which I post in another

[2017-02-21 15:24] n31k opened #152 "all.data data.frame : Indexing fails at level 2 error"
On R 3.3.2 Win7 64 bit.

L217 `all.data[upsid.disjunct.indices, feat.columns] <- upsid.feats[feat.columns]`

raises error for "nested indexing failing at level 2". I changed that to

[code]

which solved the problem. I am posting this just in case anyone needs it...

Thanks!

[2017-06-12 14:33] bambooforest opened #156 "Trump duplicates"
The trump procedure captures a unique list of inventories (by language code) determined by the trump hierarchy in the aggregate script when there are multiple inventories across sources, but it assigns TRUMP == True to all multiple entries (inventories) within a given source. This

final.data.trump <- final.data[final.data$Trump==TRUE,]

will still return multiple inventory descriptions belonging

[2017-06-12 18:02] drammock commented on #156
Here's the output from the branch in #157
[code]

[2017-06-12 18:06] drammock commented on #143
In debugging the trump issue today, I noticed there are a lot of inventories within EA that have an ISO code of "0".  Any idea why?  Can you add that to the issues to fix when working on EA segments?

[2017-06-12 20:01] bambooforest commented on #143
Thanks for the hot fix. Yes, this seems to be the authors way of noting that they don't know which ISO code to assign or that there is no appropriate ISO code. We have this issue with another dataset as well (with a different way of denoting missing | unknown code), so I plan to deal with these all together.

[2017-06-12 20:05] #156 closed

[2017-06-12 20:27] drammock commented on #143
I suggest using "NA" rather than "0", my 2 cents.

[2017-06-14 09:03] bambooforest opened #158 "Automatic diacritic ordering"
It seems like we're messing up the order of at least one diacritic in the orderIPA function, but luckily still retaining the correct feature vectors. For example (sorry about pipes in R!):

library(dplyr)
p <- read.csv('https://raw.githubusercontent.com/phoible/dev/master/raw-data/FEATURES/phoible-segments-features.tsv',  header=T, stringsAsFactors=FALSE, sep="\t")
p %>% filter(segment=="fʷː")

vs

[2017-06-21 14:38] bambooforest opened #160 "Write unit tests"

[2017-06-23 13:48] bambooforest opened #161 "Korean lacks f"
Incredibly, this source shows a labiodental in Korean:

https://archive.org/details/rosettaproject_kor_phon-2

But when I went to the Handbook 1999 version and this column is empty.

Update in the raw data.

[2017-06-23 21:15] drammock commented on #161
Just to clarify (confused by what "this source" refers to): the source (Handbook of the IPA) shows no `/f/` but the UZ raw data text file includes `/f/`. Solution is to delete that line from the raw data text file.

[2017-06-24 10:24] bambooforest commented on #161
Yes indeed. I'll send you the source material because it's quite funny -- in the Handbook from 1993 they list /f/. In 1999 it's not there. (f)riday humor, apparently.

[2017-06-24 15:38] drammock commented on #161
Huh. I looked it up in my copy yesterday too, and there was no /f/. I read through the whole entry and saw no mention of labiodentals anywhere even as allophones. So I'm definitely +1 for removing it. Do we need to double-check **all** the entries that came from the 1993 book now?

[2017-06-26 21:20] bambooforest commented on #160
some units tests include:

- known number of unique language codes
- range of segment counts (11-161)
- NAs in various columns, including the feature columns, language codes, etc. (i guess any column that can't contain a null)
- duplicate feature vectors (note already in aggregation script)
- missing feature vectors (also already in aggregation script)
- column type checks (we might want to cast c

[2017-06-27 12:37] bambooforest commented on #161
Yes, I will do so against the 1999 version and update any squibs accordingly.

[2017-06-28 12:48] bambooforest commented on #149
Here's another example:

http://phoible.org/inventories/view/319

which lists /f ,v/ via UPSID, but in the original resource

http://phoible.org/sources/krauss1975

on page 46 lists /f, v/ in the column with other labials, but see also page 47 paragraph 2 (note also the transliteration to Cyrillc on page 62).

This source (Jacobson 1975) also lists these segments under labial:

http://library.alas

[2017-06-28 15:50] drammock commented on #149
I skimmed Jacobson 1975 and didn't find any relevant info about the phonology; just a note in the introduction that he wasn't going to discuss phonology because Krauss 1975 already covered it.  I would be hesitant to count it as an independent data point.  It seems odd that UPSID would have gotten that wrong, since Maddieson was so careful...  might be worth asking him about it.

[2017-06-30 09:04] bambooforest commented on #131
Well 2016 came and went, so I'm going to close this because it's pretty apparent that we'll have to update the text whenever it is that we're ready to release phoible v2.0. (I hope this year!).

[2017-06-30 09:04] #131 closed

[2017-06-30 09:06] bambooforest commented on #123
the idea here is that final.data is kind of an ugly name (although i've gotten use to it). what might be even more helpful in the aggregation script is to class the variable types, e.g. inventory ids as numeric, language codes as factors (?), etc.

[2017-06-30 09:24] bambooforest opened #163 "identifying consonants and vowels"
is not as straightforward as it seems with the latest inventory additions. this may mean revisiting the inventories and conventionalizing their segment representations.

for example, not all vowels are caught by (syllabic %in% '+' & consonantal %in% '-') (e.g. segments that have syllabic -,+ in forms including /je/)

not all consonants are straightforwardly captured by (syllabic %in% '-') (e.g. sy

[2017-07-09 10:16] bambooforest commented on #51
I'm closing this issue. We can fetch geo-coordinates from Glottolog and they will not be stored in phoible.

[2017-07-09 10:16] #51 closed

[2017-07-09 10:18] bambooforest commented on #119
We are no longer dealing with geo-coordinates. Closing this issue.

[2017-07-09 10:18] #119 closed

[2017-07-09 10:26] bambooforest opened #167 "Clean up bibtex file"
When merging all the new inventory resources, the process introduced duplicate bibtex keys (some from the original data providers themselves).

TODO:
- remove duplicates
- double-check that all inventory ID's have a bibtex (currently at least two from ER are without citations; others are URLs to online materials which need a reference added)
- make all entries valid bibtex format (when using the R

[2017-07-09 20:13] bambooforest commented on #160
http://kbroman.org/pkg_primer/pages/tests.html

for unit tests. it'd be nice to integrate travis as well:

https://travis-ci.org/

[2017-07-10 18:48] drammock commented on #163
the broad classification into consonants and vowels does have a lot of corner cases (although the specific example of `je` shouldn't come up; diphthongs are supposed to be done with the non-syllabic diacritic like `i̯e`). Regardless of that specific example, `ɹ` is another problematic one (people disagree on whether it is C, V, or both).  So there are theoretical disagreements about what features

[2017-07-18 12:07] bambooforest commented on #167
PR # 168 handles removing duplicates.

[2017-07-18 18:31] #146 closed

[2017-07-20 09:01] bambooforest commented on #163
Agreed. Closing.

[2017-07-20 09:01] #163 closed

[2017-07-20 09:24] bambooforest commented on #160
@drammock do you have a preferred testing framework for R? i see a few different options, like

https://github.com/yihui/testit
https://github.com/hadley/testthat

a quick-and-dirty approach would be to write tests that run on the output of the aggregation script (language code checks, segment convention validation, that all bibtex keys match InventoryIDs, etc.)

a more in-depth approach would be

[2017-07-20 10:04] bambooforest commented on #147
I started working on this issue here:

https://github.com/phoible/dev/compare/master...bambooforest:issue147

but I see that:

1. there's going to be a lot of these one-to-many mappings from ISO-to-Glottolog code
2. they aren't all so straight forward, e.g.

1465	ior	inor1238	Ennemor	gm
1466	ior	inor1238	Endegen	gm
1467	ior	inor1238	Ener	gm

http://glottolog.org/resource/languoid/id/inor1238

dial

[2017-07-20 10:08] bambooforest commented on #145
tl;dr we decided to drop language genealogy from phoible (e.g. WALS genus) and other information like language coordinates (lat and long) because we can get this data (phylogenetic trees, coordinates) from Glottolog via Glottolog codes in our mappings file

https://github.com/phoible/dev/blob/master/mappings/InventoryID-LanguageCodes.tsv

[2017-07-20 10:08] #145 closed

[2017-07-20 10:11] bambooforest commented on #143
I'm going to close this issue because it's part of a larger todo which includes making sure that all segments conform to our segment conventions. See issue #160

[2017-07-20 10:11] #143 closed

[2017-07-20 10:39] xrotwang commented on #147
by 1) you mean: "Multiple inventories with the same ISO and glottocode, but different language names" and you are looking for a way to get more fine-grained glottocodes based on these names?

[2017-07-20 10:40] bambooforest commented on #120
This language is indeed ISO [mhi] and Glottolog entry:

http://glottolog.org/resource/languoid/id/madi1260

Closing.

[2017-07-20 10:40] #120 closed

[2017-07-20 10:41] bambooforest commented on #116
We've decided not to include genealogical information in releases of phoible because they can be gotten from Glottolog. Closing this issue.

[2017-07-20 10:41] #116 closed

[2017-07-20 10:42] bambooforest commented on #114
Again, we no longer maintain genealogical classifications in phoible. Closing.

[2017-07-20 10:42] #114 closed

[2017-07-20 10:46] bambooforest commented on #147
yes -- because although we have mappings like this:

2864	nys	nyun1247	Balardung	er
2865	nys	nyun1247	Bibbulman	er
2866	nys	nyun1247	Goreng	er
2867	nys	kani1276	Kaniyang	er
2868	nys	nyun1247	Minang	er
2869	nys	nyun1247	Pinjarup	er
2870	nys	nyun1247	Wardandi	er
2871	nys	nyun1247	Wajuk	er
2872	nys	nyun1247	Wiilman	er
2873	nys	nyun1247	Wudjari	er
2874	nys	nyun1247	Yuwat	er

the "language" names line

[2017-07-20 11:10] xrotwang commented on #147
I don't have packaged code for this right away, but it shouldn't be too hard to cobble together using the pyglottolog API and a library like [fuzzywuzzy](https://github.com/seatgeek/fuzzywuzzy).
Something along the lines of
[code]

[2017-07-20 11:15] xrotwang commented on #147
Yeah, this should work:
[code]
results in:
[code]

[2017-07-20 16:59] drammock commented on #160
I haven't done proper test-driven development in R before, only ad-hoc testing scripts.  I like the simplicity of `testit` (the README was enough that I already know how to use it, whereas `testthat` says "go read this whole chapter (and probably, all the chapters that came before it)."  Honestly I've been burying my head in the sand about writing tests because I secretly want to switch to python

[2017-07-20 17:19] drammock commented on #120
so, this was correct in the raw data all along?

[2017-07-21 08:14] bambooforest commented on #120
yes. i've gotten several change requests via email and not all actually need changing. but it's great that people send these things.

[2017-07-27 21:57] #29 closed

[2017-07-27 22:02] #98 closed

[2017-07-28 10:05] bambooforest commented on #113
note to self: revisit any remaining issues in the latest OLAC integrity checks before next release:

http://www.language-archives.org/checks/phoible.org

[2017-08-21 09:52] bambooforest commented on #147
fixed in PR #147

[2017-08-21 09:52] #147 closed

[2017-08-22 04:27] bambooforest opened #174 "more glottocodes can be assigned"
1352	gwn	gwan1268	Gwandara (Karshi)	gm
1353	gwn	gwan1268	Gwandara (Cancara)	gm
1354	gwn	gwan1268	Gwandara (Toni)	gm
1355	gwn	gwan1268	Gwandara (Gitata)	gm
1356	gwn	gwan1268	Gwandara (Koro)	gm
1357	gwn	gwan1268	Gwandara (Nimbia)	gm

[2017-10-31 23:18] bambooforest opened #175 "Typo in SPA allophone notes"
https://github.com/phoible/dev/blob/master/raw-data/SPA/SPA_Phones.tsv#L10878

(loan -> (loan)

If at some point we want to parse this additional marginal / loan information from SPA, it would be good to additionally have a spot check of this column.

[2017-11-26 18:00] bambooforest opened #176 "Akha (PH) missing tones"
http://phoible.org/inventories/view/1162

lists no tones, the source lists 5 tonemes, page 64:

ahk_panadda1993_phon.pdf

[2018-03-11 09:14] bambooforest opened #177 "Tamil diphthongs"
We might want to update the [aɪ, aʊ] diphthongs in Tamil (JIPA)

https://www.cambridge.org/core/journals/journal-of-the-international-phonetic-association/article/div-classtitletamildiv/5BE3F9D1C8291CDA6B3610F0E1079C02

to ai̯ and au̯ (with the non-syllabic diacritics on the offglides).

[2018-04-09 12:10] bambooforest opened #178 "Ramaswami lacks tones"
Contrastive tones reported in Ramaswami did not make it into the raw data spreadsheet. Add them from source.

[2018-04-11 14:38] bambooforest opened #179 "Check sources for ṽ"
http://phoible.org/parameters/7B733AC6E3CC019E77B11DF92FAA7023#5/-5.084/12.248

http://phoible.org/languages/nmg
http://phoible.org/languages/umb

[2018-05-01 08:07] bambooforest opened #180 "Update Turkish inventory"
From Treysi (see also _turkish folder in squibs):

In Turkish velar stops, lateral liquids, non-lateral liquids and vowels have always been sources of exciting debates. The two Turkish phonological inventories in Phoible have slight problems that are not really different analyses issues. I am sending you 3 different chapters on Turkish phonology. All of these are written by some of the most influe

[2018-06-05 18:43] bambooforest opened #181 "Zenodo DOI"
Let's get a Zenodo DOI for

http://phoible.github.io/conventions/

once things are finished.

[2018-09-17 10:43] bambooforest opened #183 "New source: Daghestanian Sound Database"
https://github.com/agricolamz/Daghestanian_Sound_Database

https://agricolamz.shinyapps.io/nakh-daghestanian_sound_database/

[2018-09-18 08:24] bambooforest opened #184 "Incorporate marginal status"
We have some work that identifies the type of marginal in various inventories in phoible (spreadsheet `marginals_in_phoible`). Todo: incorporate this data.

[2018-09-25 07:46] bambooforest opened #185 "Source worth investigating"
https://global.oup.com/academic/content/series/p/the-phonology-of-the-worlds-languages-pwl/?cc=ch&lang=en&

[2018-12-05 10:48] bambooforest opened #186 "Add Vossen 1997 on Khoe languages"

[2019-01-29 22:27] bambooforest opened #192 "Conventionalize EA segments"
EA segments need to be finalized for phoible conventions, especially diphthongs.

[2019-02-12 15:41] #158 closed

[2019-02-12 21:25] bambooforest commented on #123
handled by #187

[2019-02-12 21:25] #123 closed

[2019-02-12 21:25] bambooforest commented on #106
most up-to-date Glottocodes in #194

[2019-02-12 21:25] #106 closed

[2019-02-12 21:26] bambooforest opened #195 "Convert data files from TSV to CSV"
Because, you know, it's just easier for reading and writing with default program settings.

[2019-02-14 16:57] bambooforest opened #197 "Merge indices"
@drammock

I would like to merge these two files into the latter:

https://github.com/phoible/dev/blob/master/mappings/inventoryids_filenames.tsv
https://github.com/phoible/dev/blob/master/mappings/InventoryID-Bibtex.tsv

This shouldn't cause any problems and makes less clutter.

[2019-02-14 18:53] drammock commented on #197
no objections, go for it.

[2019-02-18 19:52] bambooforest commented on #195
I made this issue but it strikes me now as low priority, since the raw-data handling is done so well. I did update the mappings files to CSV, which makes their reading and writing easier for external applications. Closing this for the time being.

[2019-02-18 19:52] #195 closed

[2019-02-19 20:38] drammock commented on #148
closing because the new auto-build approach in #198 deals with affricates just fine.

[2019-02-19 20:38] #148 closed

[2019-02-19 20:46] drammock commented on #197
closed by #199

[2019-02-19 20:46] #197 closed

[2019-02-19 21:03] drammock commented on #175
cc #150

[2019-02-19 21:05] drammock commented on #122
closed by #170

[2019-02-19 21:05] #122 closed

[2019-02-19 21:07] drammock commented on #31
stale. allophone handling is stable now.

[2019-02-19 21:07] #31 closed

[2019-02-19 21:09] drammock commented on #38
closing as `wontfix`.  The README for SAPHON mentions the boolean "tone/no tone" column and makes clear that we don't incorporate it into PHOIBLE.

[2019-02-19 21:09] #38 closed

[2019-02-19 21:16] #69 closed

[2019-02-20 17:08] bambooforest commented on #181
@drammock I guess we don't really need this unless we want to cite it? We have our Zenodo DOI for the data. If you agree, let's close this.

[2019-02-20 17:48] bambooforest commented on #161
This issue has been fixed. No Korean inventories have labiodentals.

Regarding going through the entire handbook, this would be part of a larger project that involves data checking on a large-scale. I see no reason to do this at the moment.

[2019-02-20 17:48] #161 closed

[2019-02-20 18:03] #181 closed

[2019-02-20 18:17] bambooforest commented on #112
This is fixed in the compiled data:

 [1] InventoryID     Glottocode      LanguageCode    LanguageName    SpecificDialect GlyphID         Phoneme         Allophones      Marginal        Source
<0 rows> (or 0-length row.names)

 [1] InventoryID     Glottocode      LanguageCode    LanguageName    SpecificDialect GlyphID         Phoneme         Allophones      Marginal        Source
<0 rows> (or 0-le

[2019-02-20 18:17] #112 closed

[2019-02-20 18:27] bambooforest commented on #105
This isn't actually an inventory error in the sense that the source includes them but we don't. Basically Killian is a more-up-to-date reference and should be added separately (and given precedence in the trump hierarchy -- or we think about retiring inventories as we move forward).

[2019-02-20 19:04] drammock commented on #105
Since each inventory is a doculect, there's a sense in which we should never "retire" them simply on the basis of better work being done later.  That said, I can imagine a few cases where we might retire a data source, if (for example) the work was discovered to be fabricated or not of scholarly quality.  Not sure if this is one of those cases or not.

[2019-02-20 21:50] bambooforest commented on #174
These are assigned.

[2019-02-20 21:50] #174 closed

[2019-02-20 22:52] bambooforest commented on #152
@drammock is this still an issue?

[2019-02-20 22:52] bambooforest commented on #151
@drammock

[2019-02-20 22:54] bambooforest commented on #113
Agreed. These codes have been updating. Closing.

[2019-02-20 22:54] #113 closed

[2019-02-20 23:40] drammock commented on #152
I'll have a look later in the week; my laptop runs linux so I need to use another machine to test

[2019-02-22 10:13] bambooforest opened #201 "Update to Glottolog 3.4"
When Glottolog 3.4 is released (~summer), we should revisit the phoible index and possible code changes. Also a good time to finish the ISO code tree traversal look-up.

[2019-02-24 14:20] bambooforest opened #202 "Fix nasalization diacritic on stops"

[2019-02-25 12:55] bambooforest commented on #102
This symbol is described as "palatal voiced aspirated stop", which our conventions encode as <j̤> and not <jʰ>, so this is correct in RA. Closing.

[2019-02-25 12:55] #102 closed

[2019-02-25 15:17] bambooforest opened #204 "More squib coverage"
We could probably get more phonological squib coverage if we went through

http://ldh.clld.org/

E.g.:

https://pure.mpg.de/rest/items/item_403489_3/component/file_403488/content

926,bwt_ebah1990,ph,bwt2_ebah1990_phon.pdf

[2019-02-25 15:23] bambooforest commented on #84
@drammock - can we close this?

[2019-02-25 16:02] bambooforest commented on #99
@drammock -- this seems to be because of the aggregation script:

ɔ̃	ɔ̃ ɔ̃ ɔ̃	... but this is weird

<ɔ̃> is the last phoneme in the inventory:

https://github.com/phoible/dev/blob/master/raw-data/PH/phoible_inventories.tsv#L6228

and it seems like

https://github.com/phoible/dev/blob/master/aggregate-raw-data.R#L73-L76

fills in the blanks and then generates extra allophones given the two extra b

[2019-02-25 18:24] drammock commented on #102
wait...  if it's a *stop* then it should be ɟ̤ not j̤ right?

[2019-02-25 18:44] drammock commented on #84
Unfortunately the scan I have doesn't include Chapter 6. But she does give minimal pairs for some of these, and there's nothing to suggest anything remarkable going on here, so since she clearly calls these "breathy voice" consonants several times, let's substitute in the voiced base glyphs, switch the diacritic and drop the tiebar: /b̤ d̤ ɦ d̠̤ʒ̤ d̤z̤ ɡ̤ʷ w̤/.

[2019-02-25 19:32] bambooforest commented on #102
Yes, no worries. The symbol in the source is <j> but in the raw data we use: <ɟ> and <ɟ̤>. And for the for palatal glide in the raw source <y> we use <j> and its aspirated counterpart <j̤>.

This PR is ready to go.

[2019-02-25 20:45] drammock commented on #99
affricated ɟ should be ɟʝ not ɟʑ

The duplication of ɔ̃ might be fixed by using `blank_lines_skip=TRUE` when the raw data is read in.

[2019-02-25 23:31] #178 closed

[2019-02-25 23:41] bambooforest commented on #84
@drammock what do you mean here by ɦ ? it's listed in the inventory as is. i've updated the rest (but see email regarding multiple breathy diacritics...).

[2019-02-25 23:47] bambooforest commented on #204
Might as well collect these as they come about:

1210	blb	bilu1245	Bilua
https://openresearch-repository.anu.edu.au/bitstream/1885/146708/1/PL-540.pdf

[2019-02-26 00:17] drammock commented on #84
ɦ shouldn't change.  Sorry I just included it because it was in her original quote, to keep the same order.

[2019-02-26 00:39] bambooforest commented on #99
@drammock

Current code uses the flag you suggest:

https://github.com/phoible/dev/blob/master/aggregate-raw-data.R#L73

but it doesn't seem to skip blank lines. I think that's because we load them in as NA. Ideas?

[2019-02-26 01:21] drammock commented on #99
Problem is that the "blank lines" aren't actually blank, they contain a bunch of tabs.  Which, as you say, are leading to the empty strings between each tab to get imported as NA.  I tested it and if we just delete the tabs in those blank rows between inventories, this problem goes away.  Are you OK with that solution?  It doesn't change the total number of phonemes we end up with from those sourc

[2019-02-26 09:41] bambooforest commented on #117
In Maddieson (2015):

https://cloudfront.escholarship.org/dist/prd/content/qt86b8z46p/qt86b8z46p.pdf

"Phonological databases differ in whether they aim, as the PHOIBLE database states (Moran et al [20]), to “[b]e faithful to the language description in the source document” or not. An approach emphasizing fidelity can easily result in inconsistencies. A simple case illustrates this. PHOIBLE lists

[2019-02-26 09:41] #117 closed

[2019-02-26 11:33] bambooforest commented on #84
Ok. I've updated this in the branch `fix-remaining-inventory-errors`

[2019-02-26 11:46] bambooforest commented on #99
@drammock -- indeed removing those extra tab rows fixes this problem. I will add this to the current branch I'm working on `fix-remaining-inventory-errors`, so I don't introduce merge issues on myself. I will also do this for all the long data formats in TSV.

[2019-02-26 13:33] bambooforest commented on #149
In nam_hoddinott1988_phon.pdf the authors state "The bilabial stops /p/ and /b/ have the corresponding fricative /f/. Among older speakers it is usually a bilabial fricative produced without lip-rounding and is of low intensity. In younger speakers it is often a labio-dental. There are two allophones... [ɸ]... [β]...".

So it seems like the language is shifting to labiodental. Our research shows t

[2019-02-26 13:33] #149 closed

[2019-02-26 13:34] bambooforest commented on #5
I think for these and other clicks we might just have to go without fully specified feature vectors. @drammock ? If so, we can close.

[2019-02-26 17:47] drammock commented on #5
if the only problem is feature vectors, i think it's fine to close, but i just skimmed it and there was mention of affricates that are not homorganic? which sounds like a segment issue. maybe another look at the source is warranted. can you send?

On February 26, 2019 4:34:21 AM AKST, Steven Moran <notifications@github.com> wrote:

[2019-02-26 19:01] #175 closed

[2019-02-26 19:01] #84 closed

[2019-02-26 19:01] #99 closed

[2019-02-26 19:02] drammock commented on #202
closed by #205

[2019-02-26 19:02] #202 closed

[2019-02-26 19:02] drammock commented on #179
closed by #205

[2019-02-26 19:02] #179 closed

[2019-02-26 19:02] drammock commented on #176
closed by #205

[2019-02-26 19:02] #176 closed

[2019-03-05 11:23] bambooforest opened #208 "Output of aggregation script"
@drammock -- seems like diacritics get put before tones in the output, e.g.

https://github.com/phoible/dev/blob/master/raw-data/SPA/SPA_IPA_correspondences.tsv#L25

is <˥̰> (tone followed by creaky diacritic), but in the aggregated output we get the reverse order. If the diacritic comes after both tones, it also gets moved to the front, e.g. <̤˧˩> from <˧˩̤>.

Here are some other outputs that loo

[2019-03-05 11:36] bambooforest commented on #208
This seems to be more pervasive a problem, e.g.

<bʷː > in the input

https://github.com/phoible/dev/blob/master/raw-data/SPA/SPA_IPA_correspondences.tsv#L1460

and switched in the output:

6          133   moro1292          ary Moroccan Arabic            <NA> 0062+02D0+02B7     bːʷ   bːˤʷ bːʷ     <NA>    spa
7          133   moro1292          ary Moroccan Arabic            <NA> 0062+02D0+02E4

[2019-03-05 13:44] bambooforest commented on #208
When I compare the segment types in the SPA-IPA correspondences with the types in full aggregation output, I get these, which mainly show an issue with the length marker's position:

 [1] "̰˥"         "̰˦˥"        "̤˧˨"        "̰˧˩"        "̤˨˩"        "̰˩"         "ã̟"         "ã̟ː"        "a̙̟ː"        "æẽ̯"
[11] "bːʷ"       "bːˤ"       "bˠʷ"       "cçʰʷ"      "d̤̪"         "d̤̪̥"         "d̤

[2019-03-08 13:57] bambooforest commented on #204
This issue could also add more URI coverage.

[2019-03-10 22:38] #6 closed

[2019-03-10 22:38] #7 closed

[2019-03-10 22:38] #192 closed

[2019-03-12 00:44] bambooforest opened #213 "Diacritics to revisit"
Some combining diacritics don't seem to appear in Phoneme, but do in Allophones:

velarized/pharyngealized (combining tilde overlay)
`phoible %>% filter(grepl("̴", Phoneme)) %>% select(Phoneme) %>% distinct()`

Doesn't appear anywhere afaict:

denasalized (combining not tilde above)
`phoible %>% filter(grepl("͊", Phoneme)) %>% select(Phoneme) %>% distinct()`

nasal emission (combining homothetic)

[2019-03-12 00:44] #208 closed

[2019-03-12 01:10] drammock commented on #213
Yes, I noticed this too.  Things showing up in allophones but not phonemes is not all that surprising, so I didn't worry about it much. Here are some comments:

- I'd prefer to get rid of `combining tilde overlay` if we can, since we have dedicated, separate modifiers for "velarized" and "pharyngealized".  But knowing which one to pick requires going back to the sources.
- I already removed (by co

[2019-03-14 14:31] xrotwang commented on #184
That's done now, isn't it?

[2019-03-14 15:01] bambooforest commented on #184
Indeed! There is a marginal field in the aggregated output and in the CLDF dump in `values.csv`. Closing.

[2019-03-14 15:01] #184 closed

[2019-03-15 14:50] bambooforest opened #215 "EA IPA"
Revisit hissing-hushing diacritic (caron), e.g.

http://eurasianphonology.info/listview?lang=Adyghe%2344

And also apical vowels, e.g.:

https://eurphon.info/languages/html?lang_id=70

https://eurphon.info/languages/html?lang_id=329

[2019-03-17 02:09] drammock commented on #167
cc #210, which did some of this.  Still need to validate / implement tests.

[2019-03-24 10:25] bambooforest opened #217 "Update readme with Zenodo references"

[2019-04-03 12:49] #215 closed

[2019-04-03 17:33] drammock commented on #151
I've reached the conclusion that I simply won't support the build scripts on Windows.  Getting R on Windows to handle Unicode gracefully is just too much work, and there's really no reason that we need the *build scripts* to be portable, as long as the resulting CSV and RData files are.  As long as Windows-using consumers of the data can load the .RData file (or load the .csv in python3 or some ot

[2019-04-03 17:33] #151 closed

[2019-04-03 17:34] drammock commented on #152
I've reached the conclusion that I simply won't support the build scripts on Windows.  Getting R on Windows to handle Unicode gracefully is just too much work, and there's really no reason that we need the *build scripts* to be portable, as long as the resulting CSV and RData files are.  As long as Windows-using consumers of the data can load the .RData file (or load the .csv in python3 or some ot

[2019-04-03 17:34] #152 closed

[2019-04-04 07:42] #217 closed

[2019-05-01 08:41] SimonGreenhill opened #219 "No obvious way to get summary data (e.g. number of phonemes, number of vowels) per language"

[2019-05-01 10:45] bambooforest commented on #219
library(dplyr)

load("phoible.RData")

phoible %>% group_by(InventoryID, ISO6393) %>% summarize(phoneme.count=n())

phoible %>% group_by(InventoryID, ISO6393) %>% filter(SegmentClass=="vowel") %>% summarize(phoneme.count=n())

etc. ?

[2019-05-01 11:00] SimonGreenhill commented on #219
Sure, but it'd be nice to just be able to download a CSV with that in it :)

[2019-05-01 11:47] xrotwang commented on #219
I tthink this kind of functionality should be built upon the CLDF version
at cldf-datasets/phoible

Simon J Greenhill <notifications@github.com> schrieb am Mi., 1. Mai 2019,
13:00:

[2019-05-01 12:41] bambooforest commented on #219
write.csv(df, file="dump.csv")

? ;)

i may have the dumps in Rmd somewhere in phoible-scripts.

[2019-05-01 17:56] drammock commented on #219
If we're going to provide a CSV of summary statistics, I tend to agree with Robert that we should write a script that extracts what we want from the CLDF dataset, and publishes that downloadable summary on phoible.org somewhere.  Adding such a thing to the dev repository, I worry it won't be very discoverable.

[2019-05-01 18:05] SimonGreenhill commented on #219
Yeah, I clicked the download button [here](https://phoible.org/inventories), which didn't include the inventories, so I then tried to download from the github repository. Makes sense to have it in the CLDF as that's the archivable unit

[2019-05-02 08:47] bambooforest commented on #219
Ok, I guess I've been voluntold to do this. @SimonGreenhill - if you're in a hurry, here's a CSV with the counts dumped from dev:

https://github.com/bambooforest/phoible-scripts/tree/master/segment-counts

I will go ahead and generate the counts from CLDF and then @xrotwang we can add it to the website for download.

Note an important issue here is regarding TONE counts (@SimonGreenhill ). Some c

[2019-05-05 20:43] SimonGreenhill commented on #219
Sorry to make more work for you Steve :/ I’m happy to work around it for now, so no rush on my part!

[2019-05-05 22:18] drammock commented on #219
@bambooforest yes, I think it's best to preserve the NAs wherever possible.  I suggest including a header comment in the CSV saying "NAs in the toneme column indicates a data source where tone was not fully described, doculect may or may not have tonemes"

[2019-05-06 06:22] xrotwang commented on #219
@bambooforest what you put together looks like a good integrations test for the CLDF creation pipeline. I'll try to reproduce your numbers from the CLDF - which should be a good test case for the new CLDF -> SQLite functionality, I cobbled together last week.

[2019-05-06 07:13] bambooforest commented on #219
@xrotwang i saw the issue on denormalizing CLDF tables -- is that in the cookbook somewhere?

[2019-05-06 07:20] xrotwang commented on #219
@bambooforest the best description so far would be here https://github.com/clld/recipes/tree/master/Grambank#accessing-grambank-data-in-sqlite
Not really complete, I'm afraid.

[2019-05-06 08:14] bambooforest commented on #219
@xrotwang - so i suppose i just write my own R joining code for the phoible cldf dump and produce the numbers?

[2019-05-06 09:20] xrotwang commented on #219
No, rather not. Ideally these numbers would fall out of SQL query run on PHOIBLE CLDF in SQLite. If you can wait for an hour, I'll whip up an example.

[2019-05-06 09:40] xrotwang commented on #219
Ok, my SQLite conversion is still a bit buggy. But I'll need to fix this anyway :)
SO thanks for another good test case!

[2019-05-06 10:02] xrotwang commented on #219
So this is what computing one column of the summary looks like in SQL:
[code]

[2019-05-06 10:04] xrotwang commented on #219
I'll add a section describing this to https://github.com/cldf-datasets/phoible/blob/master/README.md
Note that this requires
- a fixed version of `pycldf` (which I'll release shortly)
- some fixes to the CLDF metadata (which I'll push shortly)

[2019-05-06 10:31] bambooforest commented on #219
@xrotwang -- ok so i don't need to do anything except update my dump of the dev CSV data with NAs for the sources that we know do not describe tone and to add a column that clarifies this. i'm also fixing and will push the updated table(s):

https://github.com/clld/phoible/issues/19

[2019-05-06 11:24] xrotwang commented on #219
ok, yes, this would then become PHOIBLE 2.0.1 - or 2.1?

[2019-05-06 12:04] xrotwang commented on #219
@SimonGreenhill @bambooforest  https://github.com/cldf-datasets/phoible/commit/2a039648913a2aeaca49f60499b399bb5c0136e1

[2019-05-06 12:05] xrotwang commented on #219
I also just learned using `CASE` inside `sum` to multiple conditioned `count`s in one query. Seems very useful.

[2019-05-06 12:19] bambooforest commented on #219
@xrotwang regarding how to version -- i suppose this is 2.0.1 if we consider the cosmetic updates for symbols here (post 2.0 release):

https://github.com/phoible/dev/commit/444a46c9a94641d6c99f5c8bbe85b8ae1c6ce65f

but what should we do about tone on the website? Should I generate the CLDF dumps with NA (or NULL or None or whatever you prefer), so that in sources like UPSID it no longer displays

[2019-05-06 12:40] bambooforest commented on #219
https://github.com/bambooforest/phoible-scripts/tree/master/segment-counts

contains NAs for tone counts for UPSID and SAPHON (the latter has a binary value for presence of tone in the original dataset, but it's not carried over to phoible -- @xrotwang @drammock i also added a note about this now in the contributors.csv, i.e. "Phonemes. Tone as a binary inventory level value (not incorporated into

[2019-05-07 14:43] xrotwang commented on #219
@SimonGreenhill so what would you use this data for? I'm trying to figure out whether that's an actual use case: Downloading the counts in a machine-readable format, but then doing something with it with no computing environment which would allow computing these numbers easily? For human inspection of the counts https://phoible.org/inventories is good enough, I'd say. Most other things mean you al

[2019-05-07 15:07] SimonGreenhill commented on #219
Sure -- Olena (a new PhD student) wants to test the relationship between the number of phonemes (vowels, consonants) and the number of colexifications (i.e. if fewer phonemes in a language, the more 'collisions' you should have, right?).

At this stage she's just playing with data but I think there's definitely a need for the summary data to be available easily (you already calculate it for the we

[2019-05-07 15:28] xrotwang commented on #219
Hm. But does this mean, you'd also need a summary table listing number of colexifications? I truly think, there's no way around doing some exploratory analysis to figure out whether some data fits your need, and figuring out how to compute summary stats may be just the right introduction to a dataset. E.g. for this use case, you may want to average the counts where there are more inventories for t

[2019-05-07 16:39] xrotwang commented on #219
@SimonGreenhill Ok, so here's the thing: I would find it somewhat acceptable to add these counts to `contributions.csv` - as a shortcut and maybe also a checksum. But to get what you want, you'd still have to join `languages.csv` - and do that via `values.csv`. So it's only a half-way solution. Adding a fully separate counts table OTOH feels wrong - and how much denormalization would you want ther

[2019-05-07 17:17] xrotwang commented on #219
@SimonGreenhill so here's the half-way solution: https://github.com/cldf-datasets/phoible/commit/c964fd5ef006d42a3158be0e73d90e64876d1ef0#diff-91c1a9334f853b04f5976e63ca6fc5a5
At least it's a bitof advertisement for the descriptive power of csvw.

[2019-05-08 06:25] xrotwang commented on #219
It just occurred to me that maybe a CLDF metadata viewer might be useful - i.e. some human readable rendering of the metadata file, possibly with an ER diagram.

[2019-05-08 08:25] bambooforest commented on #219
@xrotwang might be useful to get more adoption of CLDF if that's what you're looking for ;)

[2019-05-08 11:10] xrotwang commented on #219
Nothing fancy yet, but a proof-of-concept:
https://cldf.clld.org/mdviewer.html

[2019-05-08 11:13] bambooforest commented on #219
Am I suppose to choose file (json)? I do so, but then nothing happens (Chrome, Safari on Mac OSX)

[2019-05-08 11:30] xrotwang commented on #219
hm. will check with chrome.

[2019-05-08 15:19] xrotwang commented on #219
@bambooforest ok, fixed now. thanx for breaking it :)

[2019-05-08 18:31] xrotwang commented on #219
hm. works with chrome for me, and yes, you'd have to choose the `*-metadata.json` file.

[2019-05-09 07:37] bambooforest opened #220 "Update the reference to Svan"
https://phoible.org/inventories/view/2392

from Kevin Tuite

[2019-05-09 07:44] bambooforest commented on #219
@xrotwang i suppose we can close this now? works now on mac chrome and safari (note the formatting is bit ugly):

<img width="995" alt="Screen Shot 2019-05-09 at 9 41 59 AM" src="https://user-images.githubusercontent.com/1073582/57435880-d2b31000-723e-11e9-9449-4df05686d606.png">

[2019-05-09 07:46] xrotwang commented on #219
yes, feel free to close.

[2019-05-09 08:15] bambooforest commented on #219
summary statistics via CLDF here:

https://github.com/cldf-datasets/phoible

and via phoible dev data here:

https://github.com/bambooforest/phoible-scripts/tree/master/segment-counts

[2019-05-09 08:15] #219 closed

[2019-05-09 08:45] SimonGreenhill commented on #219
Awesome, thanks  @bambooforest and @xrotwang

[2019-05-09 22:10] bambooforest opened #221 "Sesotho != Sissano"
https://phoible.org/inventories/view/1017

is labeled Sesotho (Demuth 1992), which is correct, but it's incorrectly tagged with with the Sissano (PNG) ISO & Glottolog codes:

https://glottolog.org/resource/languoid/id/siss1243

Update to:

https://glottolog.org/resource/languoid/id/sout2807

sout2807
sot

https://github.com/phoible/dev/blob/master/mappings/InventoryID-LanguageCodes.csv#L1018

[2019-05-10 19:09] drammock commented on #221
closed by #223

[2019-05-10 19:09] #221 closed

[2019-05-10 19:22] drammock opened #225 "stop supporting both superior and inferior devoicing ring"
migrated from clld/phoible#20; cc @nardog

[2019-05-10 19:35] drammock commented on #225
Thanks for pointing this out. [U+030D](https://unicode-table.com/en/030D/) is not, to my knowledge, used as a synonym for [U+0329](https://unicode-table.com/en/0329/), so I'm -1 on allowing things like `ɹ̪̍`.

I believe that early on we were more strict about only using one of the devoicing ring variants, but that seems to have slipped?  Or maybe I'm just mis-remembering.  In any event I'm +1 to s

[2019-05-10 20:30] nardog commented on #225
@drammock:

What makes you say that? `ŋ̊` seen on the IPA chart is clearly only an exemplar, as it is preceded by "e.g." See [IPA (1993)](https://www.jstor.org/stable/44594811). This allows for use of [U+0357](https://unicode-table.com/en/0357/), [U+0351](https://unicode-table.com/en/0351/), [U+030D](https://unicode-table.com/en/030D/), [U+0311](https://unicode-table.com/en/0311/) ([U+0346](https:

[2019-05-10 20:45] drammock commented on #225
I stand corrected on this point.  Regardless, I think we're in agreement that the most sensible way forward is to reduce the number of diacritics we use, rather than including several more variants, and thus to eliminate our use of U+030A.

It is also (fortunately) the far easier path; a simple find-replace and a couple lines of testing code ought to do it.  Supporting all superior diacritics woul

[2019-05-11 09:10] bambooforest commented on #225
We discussed this issue in [Moran & Cysouw 2018, pg 58-59](http://langsci-press.org/catalog/book/176):

The superior and inferior rings (and the like) seem to be attributable to different conventions per source (e.g. EA uses superior) and I made a mistake in not catching them:

https://github.com/bambooforest/phoible-scripts/blob/master/segment-conventions/check-for-segment-errors.md

This should

[2019-05-11 09:16] bambooforest opened #226 "Segment fixes"
Some incorrect conventions stuff discovered in regard to #225 including:

n̥n | uz
ɲ̥ɲ̥ | uz
ŋ̊ŋ | uz

Fix em.

[2019-05-11 09:22] bambooforest commented on #226
@drammock - these all come from the same description (Burmese) in which it says (x3):

"the voiceless sonorant /n̥/ is typically partly voiced [n̥n]"

Suggestions?

[2019-05-18 19:20] drammock commented on #226
1. move all rings to be inferior
2. it looks like the second example has devoicing rings on both segments? That's probably a mistake.

[2019-05-22 12:33] bambooforest opened #228 "Reassign Glottolog code for Inventory ID 1984"
Glottolog lists the reference to Avram 2008 as [wich1264]:

https://glottolog.org/resource/reference/id/11626

"Wichí spoken in Misión La Paz-Salta-Argentina-commonly characterized as Central Pilcomayo Wichí [wich1264]"

[2019-06-05 07:13] bambooforest opened #230 "Drop "transitional" phones in SPA"
I came across a /ɱ/ in Portuguese:

https://phoible.org/inventories/view/163

So I hunted it down to the original SPA source page:

https://archive.org/details/por_SPA1979_phon

and see that it's marked "transitional". In the SPA manual this is defined as:

"transitional sound An optional, non-distinctive phone which may be inter­polated between two segments in the flow of speech; in other words,

[2019-07-22 18:52] drammock commented on #228
closed per #229

[2019-07-22 18:52] #228 closed

[2019-07-23 12:39] bambooforest opened #232 "Prenasalization vs nasal release"
@drammock - the immediate issue is what to do regarding the UPSID_IPA correspondences:

74	nd	ⁿd		nd	prenasalized voiced alveolar plosive
75	dⁿ	dⁿ		dn	nasally-released voiced alveolar plosive

https://github.com/phoible/dev/blob/master/raw-data/UPSID/UPSID_IPA_correspondences.tsv#L75-L76

if I change /dⁿ/ -> /nd/, etc., we collapse a distinction in UPSID that apparently only exists in ARRERNTE (as

[2019-07-24 00:16] drammock commented on #232
Assuming this was a typo, but just in case: do *not* change /dⁿ/ → /nd/.  "nasal release" should always use `ⁿ` after the base glyph (that is official IPA, we shouldn't try to do place-matching there, and we *definitely* shouldn't move the nasal marker from the right to the left side for "nasal release").

[2019-07-24 00:38] drammock commented on #230
If these are "a free variant of zero" then we'd have to add ∅ as a phoneme first, then add the transitional phone as an allophone of that.  Adding ∅ to a bunch of inventories (without adding it to *all* inventories) would inflate phoneme counts for those SPA inventories with "transitional" phones.

My feeling is that we should just drop these entirely (from both Phoneme and Allophone columns). It

[2019-07-24 08:12] bambooforest commented on #232
@drammock -- sorry i was in prenaslalization land! yes, i mean changing dⁿ -> dn, etc., in line with our conventions. this would not cause any loss of contrasts in the UPSID_IPA correspondences file and it would bring the Inventory ARRERNTE (UPSID 201):

https://phoible.org/inventories/view/201

more inline with Inventory Arrernte, Central (UZ 2158):

https://phoible.org/inventories/view/2158

[2019-07-24 14:42] bambooforest commented on #225
note to self:

[code]

with the majority of the culprits being EA. Need toL

- update EA_IPA correspondences
- fix input in UZ and GM
- update RA mappings
- write tests to catch this (@drammock where should we put them?)
- regen the data

[2019-07-24 14:58] bambooforest commented on #201
Glottolog 4.0. is out.

TODO:

- tests if glottocode is valid (note "abcd1234 follows this patters, but so does b10b1234)": https://glottolog.org/glottolog/glottologinformation)
- tests if our glottocode is in glottolog
- grab ISO code (note above)

[2019-07-24 15:02] bambooforest commented on #220
closed by #224

[2019-07-24 15:02] #220 closed

[2019-07-25 08:17] bambooforest opened #236 "Update EA"
EA has been / is being updated. They have:

- deleted some inventories for the new release (e.g. didn't like the source they used before)
- made corrections to (still) existing resources, add new URL pages
- added new entires

Integrating a revised version of an existing data source will trigger a major version update of phoible (e.g. inventory IDs won't be backwards compatible).

For EA we'll nee

[2019-07-25 08:50] bambooforest commented on #232
Summary:

- UPSID values for ARRERNTE stay as are (superscript-n after a base glyph is "nasal release")
- conventionalizes use of superscript-n in EA (for prenasalization) to phoible conventions

[2019-07-25 14:45] bambooforest opened #238 "Incorrect bibtex key"
Here I've listed two of the same bibtex keys (1496_beledugu_bam) for two different sources:

https://github.com/phoible/dev/blob/master/mappings/InventoryID-Bibtex.csv#L2183-L2184

TODO: add Chris Green's (bam_green2010.pdf) dissertation to the bibtex file and update the InventoryID-Bibtex.csv mapping file.

Another reason to write tests as per #167.

[2019-07-25 17:54] #238 closed

[2019-07-25 18:10] #232 closed

[2019-07-26 15:26] bambooforest opened #240 "Misalignment in bibtex keys and filenames"
Somewhere here there's a one-off alignment problem:

https://github.com/phoible/dev/blob/master/mappings/InventoryID-Bibtex.csv#L1916-L2018

Maybe duplicate "khy_Coupez1977.pdf	" at the end.

Fix.

[2019-07-29 12:50] bambooforest opened #241 "Add Agni"
squib: mtb_Creissels1987.pdf

[2019-07-29 12:52] bambooforest commented on #167
cc #240 which found some errors here.

also, a thorough clean-up would also deal with possible mismatches (as found above) between:

- filenames for squibs in GM inventories
- and filenames for squibs in GM bibtex entries

[2019-08-18 09:54] bambooforest opened #243 "Revisit marginal status"
I'd like to revisit marginal status for each source. For example, we do have info on borrowing in SPA, although we don't add it:

https://github.com/phoible/dev/blob/master/scripts/aggregate-raw-data.R#L143-L144

and hence we could potentially infer marginal/borrowed segments in UPSID when the sources overlap (but we don't have to). See also issue #230 .

For UPSID we denote marginal with the `ano

[2019-08-22 08:44] bambooforest opened #244 "Revisit word_language mapping"
We may have at some point decided not to infer from morpheme to word the language because of cases of multiple morpheme language values. We should perhaps revisit this since it's interesting linguistically (and typically thought to be improbable or rare, but see: https://www.frontiersin.org/articles/10.3389/fpsyg.2015.00082/full ). We could do something like infer the language of the morpheme as w

[2019-08-30 01:22] drammock commented on #244
@bambooforest I don't understand this issue.  Was it meant to be posted in a different repository?

[2019-08-30 07:49] #240 closed

[2019-08-30 07:51] bambooforest commented on #244
Indeed!

[2019-08-30 07:51] #244 closed

[2019-10-24 16:38] bambooforest opened #245 "A few language codes in SAPHON are incorrect"
Two data points in SAPHON are listed in Africa and one in "Papunesia":

https://github.com/bambooforest/phoible-scripts/blob/master/coverage/get_coverage_by_source.md

Update the phoible index and contact the SAPHON group about the incorrect ISO 639-3 codes.

[2019-10-25 18:01] #245 closed

[2020-02-21 09:10] bambooforest opened #248 "Wrong language name assignment"
Florian Matter kindly pointed out that the Tapiete inventory:

https://phoible.org/languages/tokp1240

is assigned to Tok Pisin:

https://glottolog.org/resource/languoid/id/tapi1253

Update the language codes:

https://github.com/phoible/dev/blob/master/mappings/InventoryID-LanguageCodes.csv#L1039

[2020-02-25 12:10] bambooforest commented on #201
We should also dump a new version of CLDF because of the various updates to inventories, etc., since we released the website data in Feb 2019.

[2020-02-25 12:11] bambooforest commented on #27
@drammock - i think we can close this now that we follow semver in the latest (and for the future) version of phoible, with releases on zenodo

[2020-02-25 12:12] bambooforest commented on #61
Note that we also talked about adding general phoible features for IPA.

This might be helpful in that regard:

https://github.com/ddediu/phon-class-counts

I'll investigate.

[2020-02-25 12:13] bambooforest opened #250 "Add general features for IPA"
See also #61

[2020-02-25 12:20] bambooforest commented on #160
We could also ideally include continuous integration

[2020-02-25 17:12] #248 closed

[2020-02-25 17:15] #27 closed

[2020-02-26 10:09] bambooforest commented on #137
I vote yes too.

[2020-03-10 11:07] bambooforest commented on #201
Note also the Glottocode reassignments here:

https://github.com/defseg/pshrimp-scripts

(Latest commit c0b49c1 on Sep 26, 2019)

[2020-03-10 11:10] bambooforest commented on #160
Note some tests I've written here should be eventually incorporated into dev:

https://github.com/bambooforest/phoible-scripts/blob/master/tests/tests.md

[2020-04-23 09:15] bambooforest opened #253 ""!" found its way into SpecificDilaect column"
https://github.com/phoible/dev/blob/master/raw-data/UZ/UZ_inventories.tsv#L956-L969

[2020-04-27 13:29] bambooforest opened #255 "Missing or mis-characterized phonemes from SAPHON"
Todo: fix.

Many thanks to @fmatter for pointing these out:

1) Arara (Arára do Pará) has a voicing distinction for plosives; the voiced ones are missing in the inventories. While they transparently derive from unvoiced ones, and while there is still variation (i.e., an ongoing change), Alves (2010: 12) gives minimal pairs for bilabial, alveolar, and velar plosives.

glottocode: para1310,
phoible:

[2020-04-28 15:01] fmatter opened #256 "/ɣ/ should be /h/ in Xavánte"
Cited sources disagree. From [saphon](http://linguistics.berkeley.edu/~saphon/en/inv/Xavante.html):

Both [Machado Estevam 2011](https://glottolog.org/resource/reference/id/310179) and [Pickering 2010](https://glottolog.org/resource/reference/id/42874) agree with [Oliveira 2007](https://glottolog.org/resource/reference/id/49563) in that there is a phoneme /h/. [Quintino 2012](https://glottolog.org

[2020-04-28 15:40] drammock commented on #253
fixed by #254

[2020-04-28 15:40] #253 closed

[2020-04-28 15:41] drammock commented on #256
crossref #255, should fix these at the same time.

[2020-05-09 09:26] bambooforest opened #257 "Gold standard"
@drammock -- do we need these anymore?

https://github.com/phoible/dev/tree/master/gold-standard

[2020-05-09 15:20] drammock commented on #257
nope. feel free to delete.

[2020-05-10 08:52] #257 closed

[2020-05-30 20:26] bambooforest opened #263 "Investigate 962"
See comment here:

https://github.com/phoible/dev/pull/262

[2020-05-31 12:06] bambooforest opened #265 "Incorrect ejectives in InventoryID 1239"

[2020-05-31 16:20] drammock commented on #40
@bambooforest can this issue be closed?

[2020-06-01 09:28] bambooforest commented on #40
@drammock -- let me update a few things, e.g. we have two IDs in the bibtex file for the same reference here. Also, by now Vydrin has published the description (draft) that he sent us before:

* https://www.oxfordhandbooks.com/view/10.1093/oxfordhb/9780199609895.001.0001/oxfordhb-9780199609895-e-66

* https://link.springer.com/chapter/10.1007/978-3-319-44330-0_5

So I can add this as a new invento

[2020-06-01 14:44] drammock commented on #40
I'd be inclined to start a new source and name it after Neuchâtel... NE or UN?

[2020-06-02 09:52] bambooforest opened #267 "Inventory 1140 (Czech) missing an allophone"
We have missed adding the voiceless counterpart to 'alveolar trill fricative', denoted with symbol
<r̝> as per the source:

Dankovičová, Jana. 1997. Illustrations of the IPA: Czech. Journal of the International Phonetic Association 27. 77–80. Cambridge University Press.

I.e. "A voiceless allophone of /r̝/ occurs in places where voicing assimilation applies."

Thanks to Petr Hrubiš for pointing th

[2020-06-02 14:39] #267 closed

[2020-06-03 11:31] bambooforest commented on #160
@bambooforest -- create the list of tests that we need (as per our discussion June 2, 2020)

[2020-06-03 11:32] bambooforest opened #270 "What are languages with NA ISO code"
Initial investigation here:

https://github.com/bambooforest/phoible-scripts/blob/master/NAs/NAs.md

Some decisions made over email. Cross-ref:

https://github.com/phoible/dev/issues/280

[2020-06-03 12:40] bambooforest opened #271 "References swapped"
* https://phoible.org/inventories/view/651
* https://phoible.org/inventories/view/652

each have the same reference, they should each have one from each other

[2020-06-03 12:41] bambooforest opened #272 "Capitalize source language names from AA"
These were initially scrawled from Chanard and then double-checked from AA, but kept the lower-case spelling of Chanard. Todo: upper-case them.

[2020-06-03 14:49] #263 closed

[2020-06-08 07:04] xrotwang opened #276 "Inventrories assigned to Western Cham seem to belong to Eastern Cham"
Via @d97hah :

The inventories assigned to [Western Cham](https://phoible.org/languages/west2650) use a source ([Blood 1967](https://phoible.org/sources/blood1967)) which seems to be explicitly about Cham in Vietnam, i.e., Eastern Cham [cjm] not Cambodian or Western Cham [cja].

[2020-06-11 12:22] bambooforest commented on #243
Browsing through the raw AA, I noticed that there are cases noted as marginal for segments only found in borrowed words

https://github.com/phoible/dev/blob/master/raw-data/AA/AA_inventories.tsv#L465

and less clear cases, such as:

https://github.com/phoible/dev/blob/master/raw-data/AA/AA_inventories.tsv#L4510

The issue of marginality is a gradient one, for example:

Jelaska, Z. and Machata, M.

[2020-06-11 12:56] bambooforest commented on #276
Thanks for this @xrotwang @d97hah .

Via Blood1967.pdf :

"This description of Cham phonology is based on a study made while residing in the Cham village of Phuoc Dong near Phan Rang, central Vietnam, from May, 1960 to May, 1962."

The language code assignment was incorrect because:

http://web.phonetik.uni-frankfurt.de/L/L2411.html (UPSID 282)

states: "Cham is spoken mostly in Kampuchea but ther

[2020-06-11 16:06] #276 closed

[2020-06-21 09:15] bambooforest opened #280 "Assign new ISO codes"
2718
* https://glottolog.org/resource/languoid/id/warr1257
* https://iso639-3.sil.org/code/gjm

2727
* https://glottolog.org/resource/languoid/id/dhud1236
* https://iso639-3.sil.org/code/ddr

2877
* https://glottolog.org/resource/languoid/id/pall1243
* https://iso639-3.sil.org/code/pmd

2884
* https://glottolog.org/resource/languoid/id/angu1242
* https://iso639-3.sil.org/code/awg

2921
* https://g

[2020-06-21 09:15] bambooforest commented on #272
Closed in #277

[2020-06-21 09:15] #272 closed

[2020-06-24 07:35] bambooforest opened #282 "Add CONTRIBUTING.md"
@drammock -- what say you we take all these explanations about adding inventories from our email exchanges and create a contributing doc to point people to?

[2020-06-24 18:12] drammock commented on #282
let's discuss this at our next meeting.  So far we've done a *lot* of oversight / QC and still miss some things.  That level of oversight is not free; I don't want to encourage contributions from the wider community only to have their PRs languish because we don't have time to rigorously review them.  Having a more robust test suite might change my mind...  might also be a reason to switch to new

[2020-06-24 19:38] #265 closed

[2020-06-25 07:06] bambooforest opened #284 "Remove Ramaswami stand-alone bib file"

[2020-06-26 09:28] bambooforest commented on #284
Closed by #285

[2020-06-26 09:28] #284 closed

[2020-06-29 23:43] #118 closed

[2020-07-15 08:42] bambooforest opened #288 "FAQ reminders"
- Dogon != Dogon, e.g.

https://phoible.org/inventories/view/313

https://phoible.org/inventories/view/699

https://phoible.org/inventories/view/1442

[2020-07-15 09:15] bambooforest commented on #160
tests failing here:

- inventory 2478 is the one failing the phoneme uniqueness test.
- invalid ISOs: "daf" "duj" "wit" "kxl" "krm" "kxu" NA "drh" "dit" "mwd" "qgu" "bjd" "ggr" "yiy"
- invalid glottocodes: NA is the only one
- inventory 695 has one row where the language name is "dida" instead of "Dida" (capitalization)...

[2020-07-15 11:23] #55 closed

[2020-07-16 10:31] bambooforest opened #289 "Fix Khanty"
I'm in contact with a Khanty specialist about the classification of Khanty (being updated in Glottolog as well).

TODO: fix the current language codes.

Note also (via @drammock):

2434 (Eastern Khanty - Vach) -> "Wakhovsky dialect" will mean here https://goo.gl/maps/tu6wdcLauDiv8aGC6 which accords with the Lat/Long coordinates given in EurPhon (61N 77E, within 50 miles of Vakhovsk). This seems li

[2020-07-16 10:34] bambooforest opened #290 "Djindewal"
Djindewal has neither an ISO 639-3 code or a Glottocode. It is a strange case because the string “Djindewal” does not occur in this source:

Jefferies, Anthony (2011). Guwar, the language of Moreton Island, and its relationship to the Bandjalang and Yagara subgroups: a case for phylogenetic migratory expansion?. MPhil Thesis, School of Social Science, The University of Queensland.

I emailed Erich

[2020-07-16 12:41] bambooforest opened #291 "Update ISO codes"
Changes in ISO 639-3 need to be revisited:

daf
duj
wit
kxl
krm
kxu
drh
dit
mwd
qgu
bjd
ggr
yiy

[2020-07-16 16:43] #280 closed

[2020-07-28 09:59] bambooforest opened #297 "Generate all the bibliographic resources"
into a report.

[2020-07-28 12:53] #297 closed

[2020-07-29 12:33] bambooforest opened #299 "Check Ethiopia"
Via Sascha:

many languages of Ethiopia where with [q] in their inventory where it should be [k'], <q> being the traditional notation for ejective k' in Ethiopistic studies. Have you checked them? Zay for example has q in PHOIBLE, but I a fairly sure this should be k'.

[2020-07-29 14:43] bambooforest opened #300 "Update reference"
https://glottolog.org/resource/reference/id/4459

e.g.

https://phoible.org/sources/terrill_biri_1998

[2020-07-30 09:12] bambooforest commented on #300
This is displaying nd (no date) on the website, but the bibtex file is correct (or was corrected already at some point):

@book{terrill_biri_1998,
	Author = {Terrill, Angela},
	Date = {1998},
	Editor = {L{\"u}ders, Ulrich J.},
	Isbn = {978-3-89586-532-9},
	Location = {M{\"u}nchen},
	Number = {258},
	Pagetotal = {108},
	Publisher = {Lincom Europa},
	Series = {Languages of the World/Materials},
	Tit

[2020-07-30 09:12] #300 closed

[2020-08-01 10:29] bambooforest opened #302 "Fix no date"
https://phoible.org/sources/breen_wonders_2001

and add phono squib data

[2020-08-02 18:57] bambooforest commented on #302
date is ok in bib. added the source, which is openly available online, to the squibs in PR #303.

[2020-08-30 09:15] #45 closed

[2020-09-02 12:41] bambooforest opened #305 "Canonical language names"
@drammock -- I came across a language name "Awngi" in SPA and UPSID in this report:

https://github.com/bambooforest/phoible-scripts/blob/master/ethiopia/get_ethiopia_languages.md

it's an inappropriate ethnonym. i would like to update in our aggregated data the field `LanguageName` to `SourceLanguageName` and replace the former with the canonical names from Glottolog, whose editors deal with bad

[2020-09-02 12:54] bambooforest opened #306 "Shilluk"
Wrong interdentals -- should be the alveolar series.

[2020-09-02 13:17] drammock commented on #305
SGTM, go for it

[2020-09-02 14:51] #306 closed

[2020-09-03 08:44] bambooforest opened #308 "ER Glottolog codes"
@erichround sent me a list of updated Glottolog codes and source language names for the ER inventories. todo: check these against our current mappings and update accordingly.

[2020-09-08 08:51] bambooforest opened #310 "Segment /hv/"
Encountered a strange looking segment thanks to @ macleginn in Kpelle, who wrote to the author.

It is a /hʷ/. It alternates with /v/ in some environments, hence the way they write it. There is no contrast between /h/ and /hʷ/ between rounded vowels.

It did indeed become /f/ in another dialect of Kpelle spoken in Liberia.

Todo: update

[2020-09-10 08:42] #310 closed

[2020-09-19 16:28] bambooforest opened #312 "Duplicates?"
phoible %>% select(InventoryID, Phoneme) %>% group_by(InventoryID, Phoneme) %>% filter(n()>1)

  InventoryID Phoneme
        <int> <chr>
1        2478 i̯ɔ
2        2478 i̯ɔ

[2020-09-19 22:00] drammock commented on #312
I just updated from master branch and I get

[code]

[2020-09-21 08:36] #312 closed

[2020-10-28 10:04] tresoldi opened #314 "Error in sources"
There is a small error in the Bibtex entry for `saphon`, a missing `"and"` that makes the entry invalid: on line 37 of https://github.com/phoible/dev/blob/master/data/phoible-references.bib we have `Michael, Lev, Tammy Stark, and Will Chang` instead of `Michael, Lev, *and* Tammy Stark, and Will Chang`.

It is the only error when parsing the whole the whole file. I cannot make a PR due to permissio

[2020-10-28 10:14] bambooforest commented on #314
Thanks @tresoldi . You should be able to make a PR after you've forked phoible dev.

[2020-10-28 10:17] tresoldi commented on #314
Oh, I though you used branches, sorry. I'll make one right now.

[2020-10-28 11:16] bambooforest commented on #314
We do use branches -- but only from forks. :)

[2020-10-28 11:17] bambooforest commented on #314
Closed by #315

[2020-10-28 11:17] #314 closed

[2020-11-09 11:57] bambooforest opened #316 "Update English (British) (UZ 2178)"
Yonah Citron points out that Watson 2007 probably did not mean for LE to have tone.

https://phoible.org/inventories/view/2178

Investigate and update.

[2020-11-11 09:44] bambooforest opened #317 "Update credits page"
For the next release:

https://phoible.org/credits

Add:

* Brynna Kilcline
* Cormac Anderson
* Erich Round
* John McLaughlin

[2020-11-11 12:33] bambooforest opened #318 "Update 1378"
@cormacanderson notes that:

In GM 1378 (Mawa) the inventory given lists a number of phonemes, i.e. /ʔ/, /ʔw/, /h/, /f/, /z/ that the source (Roberts 2009) explicitly says are not phonemic.

Update.

[2020-11-11 12:36] bambooforest commented on #318
@drammock -- Dr. Green was pretty clear about these:

https://github.com/phoible/dev/blob/master/raw-data/GM/gm-afr-inventories.tsv#L6703-L6707

but the original text argues that they are not phonemic (see attachment).

<img width="444" alt="Screen Shot 2020-11-11 at 13 36 18" src="https://user-images.githubusercontent.com/1073582/98812515-f0a89480-2422-11eb-8e32-fc04269bf149.png">

[2020-11-11 12:47] cormacanderson commented on #318
Part of the problem here is that the original is a prosodic account. If you have no way of listing the prosodies in the database, then you have no way of faithfully reflecting the source. One solution would be to try to deprosodicise it, so to speak, i.e. convert the prosodic account into a phonemic one. However, the prosodies are used in Chadic linguistics for pretty good reason, because it works

[2020-11-11 12:59] bambooforest commented on #318
I made a PR here to remove these #319 @drammock

[2020-11-11 16:21] drammock commented on #318
why does #319 remove `f h z` ?  The source doesn't say "they're not phonemes" it says "loanwords only", which we treat as phonemes but mark as "marginal" (which is how they currently are in the source):

https://github.com/phoible/dev/blob/9d21f8fa7d8bb592f6aa6378fb456757354d1441/raw-data/GM/gm-afr-inventories.tsv#L6703-L6707

[2020-11-11 16:43] bambooforest commented on #318
Because my reading of that passage is that everything is phonetic.

[2020-11-11 16:45] cormacanderson commented on #318
I would remark that, if you don't mark the prosodies, /ʔw/ is also phonemic, as the source considers it parallel to /ʔ/ initially when a word has w-prosody. This is a slippery slope though, as I point out in my comment above.

[2020-11-11 17:09] drammock commented on #318
I read it as "here are the reasons I don't include these segments: ʔ is phonetic, ʔw is not a phoneme for reasons I discuss later, and h f z are (technically phonemic/contrastive but) only present in loan words."

I'm not arguing with that; I know little about prosodic analysis of Chadic languages, so I'm happy to defer to your expertise here. I'm arguing that when the source says "occurs only in

[2020-11-11 17:58] cormacanderson commented on #318
It was more in the way of an "also", rather than a "but". I concur with your reading of the source. If you also consider loanwords then /f/, /h/, /z/ are phonemes. Without the prosodies, you probably have to consider /ʔw/ to be one too, although it's messy. /ʔ/ is phonetic in my view, although that only if you allow the phonology to "see" morphology. The situation he describes there sounds like th

[2020-11-11 18:53] drammock commented on #318
OK, sounds like we agree then @cormacanderson. We typically include present-in-loanwords-only phonemes, but mark them as "marginal".

I have no problem with an author doing a phonological analysis that is morphology-aware, or prosody-aware. So I have no problem excluding /ʔw/ in this case.

[2020-11-12 11:05] bambooforest commented on #318
I'm confused. Yes, we include the marginals (although my reading is that they could be phonetic, and as such are excluded from the chart).

But was is the status of /ʔw/ - @cormacanderson you write phonemic, @drammock you say no problem excluding it.

[2020-11-12 11:40] cormacanderson commented on #318
In many Chadic languages, palatalisation and labialisation affect both consonants and vowels in a given domain. So you have a root like /tsar/ that can be palatalised (under some morphological operation) to [-tʃɛr-]. The descriptive practice would be to write this ʲ/tsar/ (this example is simplified but in the spirit of it) and they call the ʲ prosody, a suprasegmental feature that applies to a gi

[2020-11-12 13:28] drammock commented on #318
Wow, cool! Thanks for explaining the details. It sounds a lot like the retracted tongue root harmony in Mongolian.

[2020-11-13 13:45] bambooforest opened #321 "Use of U+0347"
Pasted from:

* https://github.com/cldf-clts/clts/issues/51

In an early version of the feature set, we noted that U+0347 would indicate [-strident] and that it should only be applied to [+coronal] sounds.

The affected segments occur only in SPA and UPSID, in a handful of overlapping inventories (13 languages in total) and appear in these segments:

ʂ͇
ʃ͇
ts͇
ts͇ʰ
ʈʂ͇
z͇
z̪͇|z͇
ʐ͇
ʒ͇

The rest ar

[2020-11-14 09:22] bambooforest commented on #302
Closed by #303

[2020-11-14 09:22] #302 closed

[2020-11-14 10:14] bambooforest commented on #316
Perhaps this is why it slipped in:

eng_watson2007.pdf

Removed in PR #322

[2020-11-14 10:17] bambooforest commented on #270
@drammock -- other than the two NAs for the Glottocodes (Glottolog doesn't have a standard for no / NA code), i think your latest PR closes this issue

https://github.com/phoible/dev/pull/320

Feel free to reopen if I'm wrong.

[2020-11-14 10:17] #270 closed

[2020-11-14 15:08] #316 closed

[2020-11-15 10:08] bambooforest opened #323 "Capitalize GM inventories"

[2020-11-15 10:10] bambooforest opened #324 "Typos"
Fix typos pointed out by @cormacanderson

[2020-12-22 09:25] bambooforest opened #326 "Add inventories for Ao"
Alexander Coupe sent us better resources to add for Mongsen Ao and Ao:

https://www.academia.edu/1317662/A_Grammar_of_Mongsen_Ao

https://www.academia.edu/1317809/A_Phonetic_and_Phonological_Description_of_Ao_A_Tibeto_Burman_Language_of_Nagaland_North_East_India

And also notes that Temsunungsang’s 2009 dissertation as a factual source of info on Chungli, i.e. Gowda:

https://phoible.org/inventori

[2020-12-22 10:12] bambooforest commented on #326
Note also

njo&apt_Ramaswami1999.pdf

[2021-01-13 10:02] bambooforest opened #327 "Add UW inventories"
UW inventories will need to be incorporated into:

- the aggregation script
- the mapping files

Before they can be generated as part of the phoible.csv file.

This is a reminder.

[2021-03-18 08:32] bambooforest opened #330 "Add Karas/Kalamang kgv"
Reminder: it's on the NE branch.

[2021-03-18 08:59] bambooforest opened #331 "Check errata"
From Carlos Silva

[2021-03-28 00:32] camoverride opened #332 "Najdi Arabic phoneme inventory is missing items"
Ground truth [wikipedia](https://en.wikipedia.org/wiki/Najdi_Arabic) vs Phoible [Najdi Arabic Inventory page](https://phoible.org/inventories/view/2607)

I also confirmed this by inspecting the appropriate lines in `data/phoible.csv`

I discovered this with the following SQL query, where I searched for languages lacking phonemes with the `+ nasal` feature (_Najdi Arabic_ will be the last entry ret

[2021-03-28 07:49] bambooforest commented on #332
@camoverride -- thanks for pointing this out and sending some reproducible code. i'll look into it.

[2021-03-28 19:39] drammock commented on #332
@camoverride I'm chiming in here to provide a clarification: "ground truth" in this case is not Wikipedia, but rather Ingram 1994 (https://phoible.org/sources/67053).  Phoneme inventories in PHOIBLE are not meant to represent a *language* but rather a particular instance of *language documentation*. It certainly can happen that we make a mistake in converting the analysis in Ingram 1994 into a PHO

[2021-03-28 20:11] bambooforest commented on #332
This issue is a bit more complicated than that, I think. I looked into the grammar by Ingram and indeed it does not list nasals among its consonants, but you nevertheless find them in the word forms in the grammar.

After some discussion with @macleginn (this particular inventory is from (an earlier version of) EURPhon  https://eurphon.info/languages/html?lang_id=135), he told me that he encounter

[2021-03-29 02:22] camoverride commented on #332
Gotcha, _Ingram_ as ground truth definitely makes sense - and it's reasonable not to want to play around with the source material too much.

However, have you all developed a general strategy for tracking known "errors" in Ingram? Maybe it could act as a secondary source to augment phoible?

[2021-03-29 05:51] xrotwang commented on #332
Just a somewhat technical note regarding a"secondary source to augment phoible": I think that's a good idea - some sort of curated errata. And that's exactly one of the use cases we had in mind when designing [CLDF](https://cldf.clld.org) to allow for easy merging: Such an errata list could be distributed in the same overall format as PHOIBLE, and then be transparently used to override PHOIBLE dat

[2021-03-29 08:19] bambooforest commented on #332
@camoverride -- if you mean by tracking down errors, it depends on what one means by errors. As @drammock notes, above, inventories in phoible reflect [doculects](http://phoible.github.io/faq/#inventories-language-codes-doculects-and-sources) and in this case, at least for the missing nasals in Ingram's grammar, we would still be true to the original source because it does not list them in the con

[2021-03-29 08:29] xrotwang commented on #332
Yes, PHOIBLE being already the second-level aggregator makes things trickier. And since one of the the big advantages of PHOIBLE is machine-readable data, it would be nice, if documentation about systematic gaps - along the lines of the "no tones in UPSID" would be machine readable, too. But I don't really have an idea how to do that. There doesn't seem to be established terminology for "complete

[2021-03-29 08:32] bambooforest commented on #332
Sounds like an ontology is in order. :)

[2021-03-29 08:35] xrotwang commented on #332
@bambooforest you're the aggregator, you get to choose the categories :)

[2021-03-29 08:36] bambooforest commented on #332
@xrotwang sounds good. And you have / will have a place for them in CLDF :)

[2021-03-29 08:37] bambooforest opened #333 "Develop categories for known source gaps"
See #332

[2021-03-30 22:31] camoverride commented on #333
@bambooforest - will [CLDF](https://cldf.clld.org/) be the main resource for tracking known issues with the phoible source material? I'm wondering if I should invest time digging into this.

[2021-03-31 07:21] bambooforest commented on #333
@camoverride -- it would be great to get some feedback. we do all of our dev work in this repository, so this is the most up-to-date data with corrections, etc.:

https://github.com/phoible/dev/tree/master/data

so you should use this.

when we've made significant changes that warrant a new version, we generate the new version in this repository and generate the CLDF data, which gets archived in Z

[2021-04-28 11:29] bambooforest opened #334 "Add retirements.json"
with comment and date would be good - a csv would do as well

the web app would handle this by serving HTTP 410 GONE - possibly with the comment as message.

[2021-05-16 13:27] bambooforest opened #335 "Missing dental diacritics"
library(tidyverse)

phoible <- read_csv(url('https://github.com/phoible/dev/blob/master/data/phoible.csv?raw=true'), col_types=c(InventoryID='i', Marginal='l', .default='c'))

phoible %>% filter(Phoneme == "t̪s")

phoible %>% filter(Phoneme == "ts̪")

cf.

https://github.com/macleginn/eurphon-parse-search/issues/3

[2021-06-27 10:16] #288 closed

[2021-08-24 11:07] bambooforest opened #338 "Add HUPC inventories"

[2021-08-24 11:16] bambooforest opened #339 "Add Papuanesia inventories"

[2021-11-28 13:08] #299 closed

[2021-11-29 11:00] bambooforest opened #342 "Merge sources"
See https://github.com/phoible/dev/pull/341

Will also require updating

https://phoible.github.io/faq/#what-are-the-different-sources-in-phoible

[2021-11-29 15:17] bambooforest commented on #308
Also make sure the references are updated, e.g.

https://phoible.org/inventories/view/3006

Cf.

https://github.com/phoible/dev/pull/313

[2021-11-29 15:33] bambooforest opened #343 "Missing dates in bibtex"
Seems like basically every AusPhon bibtex entry is missing its date. Fix.

[2021-11-30 09:35] bambooforest commented on #342
Closed by #341

[2021-11-30 09:35] #342 closed

[2021-11-30 09:51] bambooforest opened #344 "Bikele (1102) marginal vowel missing"

[2021-11-30 13:19] bambooforest commented on #343
Looks like a quick fix -- AusPhon bibtex entries use `date` instead of `year`.

[2021-11-30 13:21] bambooforest commented on #333
Some things to keep in mind here (not exhaustive):

- UPSID does not have allophones (but does mark marginals)
- AusPhon consistently does include any marginals

[2021-11-30 20:39] #344 closed

[2022-01-13 14:54] davidainman commented on #102
I am reopening this because there are still examples in the published data that have segments like "dʰ", "nʰ", "rʰ" which should be disallowed (expected: dʱ, nʱ, rʱ). Example languages: Korku, Bhojpuri, Kisiei.

[2022-01-13 14:56] davidainman opened #346 "voiceless asipiration diacritic on voiced base glyphs (d, n, r) in EA"
I have discovered voiced stops with a superscript h (see comment in closed issue #102). These segments also have incorrect feature arrays which make them appear voiceless aspirated rather than voiced breathy.

[2022-01-14 21:30] drammock commented on #346
Thanks for the report!  I confirm that we do seem to have some incorrect diacritics. However, reopening #102 is not the right move... that issue was specifically about a palatal stop in the Ramaswami data source.  If I do

[code]
on the current repository I don't get any hits inside `raw-data/RA`, they seem to all be from the `EA` data source. Looks like we can just update this line:

https://gith

[2022-01-14 21:32] drammock commented on #102
Not reopening, will follow up this issue in #346.

[2022-01-14 21:46] drammock commented on #346
digging a little deeper, this is perhaps not so straightforward. `EA/EA_IPA_correspondences.tsv` has entries for both dʰ and dʱ so presumably they're meant to represent different sounds; I can't blindly map dʰ to dʱ.  I mean, I *could*, because there aren't any languages that have both:

[code]

But I'd prefer to honor the intent and figure out what a proper phoible-style-IPA representation of dʰ

[2022-01-17 15:00] davidainman commented on #346
Okay. This was affecting work I was doing with some colleagues using PHOIBLE data. Should I wait for now (do you have time to fix this in the next few weeks) or do an internal transform/ignore these segments?

[2022-01-17 18:20] drammock commented on #346
@davidainman I've opened a pull request to fix this issue. In the end I did end up "collapsing" things like `dʰ` and `dʱ` (and also `d̤ʱ`) on the grounds that there were no inventories where more than one of those was present, and after checking the sources of several of the affected languages I didn't find anything to suggest that anything other than breathy voicing was intended (it's possible I'

[2022-01-20 15:09] davidainman opened #348 "Labio-velar plosives and velarized plosives have the same feature sets"
When you filter by feature, the phoneme /kp/ and the phoneme /pˠ/ are identical (i.e., they cannot be singled out by features). This seems like it may be unintended, as the famously-African /kp/ and the /pˠ/ (which occurs in Irish) are not typically considered to be the same kind of sound. I don't know if this is a bug or "by design" but may not be known.

[2022-01-20 15:29] davidainman opened #349 "d̪ʼkxʼ is said to have a feature of "dorsal -""
The phoneme "d̪ʼkxʼ" in PHOIBLE is said to be dorsal -. This seems like an error, and it should be dorsal +

[2022-01-25 15:50] drammock commented on #348
It's not by design. Thanks for reporting it. I'm on leave right now so it may not be fixed quickly, FYI.

Sent from ProtonMail mobile
-------- Original Message --------
On Jan 20, 2022, 09:09, davidainman wrote:

[2022-01-25 15:53] drammock commented on #349
Thanks for reporting. That will require a closer look, as it also appears to have an ejective mark on a voiced segment. Is this phoneme in a language you're familiar with / do you have any insight to share here?

Sent from ProtonMail mobile

-------- Original Message --------
On Jan 20, 2022, 09:30, davidainman wrote:

[2022-01-25 16:07] davidainman commented on #349
I do not know. This was discovered when using feature sets to target interesting phones in a global study

[2022-01-28 09:58] bambooforest opened #350 "Wrong language code"
https://phoible.org/inventories/view/2474

via

https://eurphon.info/languages/html?lang_id=153

should be

https://glottolog.org/resource/languoid/id/chon1285

chon1285 / cda

@macleginn FYI.

[2022-01-30 11:32] macleginn commented on #350
Fixed on my side, thanks!

[2022-02-13 10:23] macleginn commented on #346
Yes, I allowed some variation in the notation and treated "murmured" as "voiced aspirated", but I should've normalised /dʱ/ to /dʰ/, think. Breathy voice, however, is treated as a separate category; I am not sure to what extent breathy-voiced stops and murmured stops are the same thing.

[2022-03-11 08:50] nicholasbroot opened #351 ""ə˞ː" missing from distinctive features data"
"ə˞ː" is on phoible.org (https://phoible.org/parameters/E7BC5C96F418014DCF434C5A8810EAE1#6/32.277/103.192) along with its feature data, but this entry seems to be missing from the phoible-segments-features.tsv in the repository. Is there a different version of phoible-segments-features.tsv that phoible.org is getting this from?

[2022-03-17 06:41] DanielSWolf opened #352 "ə and ɜ have the exact same features"
In [component-feature-table.csv](https://github.com/phoible/dev/blob/master/raw-data/FEATURES/component-feature-table.csv), the segments ə (mid central vowel) and ɜ (open-mid central unrounded vowel) have the exact same features:

[code]

I assume that's not on purpose, given that [the FAQ states that](http://phoible.github.io/faq/#phonological-features-in-phoible) "if two phonemes differ in their

[2022-03-21 11:49] bambooforest commented on #351
@nicholasbroot -- [the raw feature tables](https://github.com/phoible/dev/tree/master/raw-data/FEATURES) are used to generate the feature vectors in the aggregated [phoible.csv](https://github.com/phoible/dev/tree/master/scripts) output via the [aggregation scripts](https://github.com/phoible/dev/tree/master/scripts)

in the `phoible.csv` file you will find all of the specified feature vectors for

[2022-03-21 12:16] bambooforest commented on #352
@DanielSWolf -- indeed. This is a problem that we are aware of (hence the "should"). The problem is also pervasive.

[code]

There are several reasons for this, including but probably not limited to:

* no features for tones (that's why I filter them out above)
* some phoneme specifications in different documents collapse the feature vectors across phonemes, e.g., ʃ vs ʒ̊
* some clicks are difficu

[2022-03-21 12:18] #346 closed

[2022-03-30 08:12] m1ci opened #353 "Question: is there an RDF version of the dataset(s)?"
thanks!

[2022-03-30 20:51] bambooforest commented on #353
@m1ci -- there use to be, but now we're using [CLDF](https://cldf.clld.org):

https://github.com/cldf-datasets/phoible/tree/master/cldf

@xrotwang ?

[2022-04-26 12:35] xrotwang commented on #353
CLDF is a specialized CSVW. So you could generate RDF for the data following the spec at https://www.w3.org/TR/csv2rdf/

[2022-04-27 11:52] m1ci commented on #353
I know, I can convert it. But I was just wondering if there exists an RDF version of the dataset.
So the answer is "no".

[2022-04-27 11:52] #353 closed

[2022-05-14 19:18] jhdeov opened #354 "Adding Armenian doculects"
PHOIBLE uses only one source from [1950](https://phoible.org/languages/nucl1235) for the Eastern Armenian inventory. But since, there's been a reference [grammar](https://benjamins.com/catalog/loall.14) on the language, and that grammar's inventory is pretty inventory from the 1950 article. [Wikipedia](https://en.wikipedia.org/wiki/Armenian_language#Phonology) uses the grammar's inventory (so it's

[2022-05-24 07:58] bambooforest commented on #354
@jhdeov -- thanks for your message. Yes, I will add it.

[2022-05-31 18:38] jhdeov opened #355 "Adding Homshetsma"
Hello, page 258 of this pdf documents the IPA inventory of a language that's not on PHOIBLE. The language is called Homshetsma or Hamshen, and it's genetically an Armenian language.
https://www.academia.edu/300652/Homshetsma_The_language_of_the_Armenians_of_Hamshen